[2016-06-07 18:57] evanmiller commented on #178
@lionel- If a seek fails, ReadStat returns with an error (`READSTAT_ERROR_SEEK`).

[2016-06-07 18:58] itsdalmo commented on #174
@evanmiller: Nope. In both cases (and machines) the file is read from a local directory. Let me know if you need me to do any checks to make sure :)

[2016-06-07 19:01] lionel- commented on #178
@reikoch Do the readr functions such as `readr::read_csv()` also fail with Samba shares?

[2016-06-07 22:45] hadley commented on #177
Yes, I'd be happy to review a pull request

[2016-06-08 08:21] reikoch commented on #178
@lionel- readr::read_csv() from the same samba share work just fine.

[2016-06-08 17:18] itsdalmo commented on #172
@hadley:
You are right, the order of labels for is not something the user control in SPSS (not sure about Stata/SAS). I'm guessing the order for labels after importing would be alphabetical to begin with, so it would only be helpful after using the `labelled()` constructor (where order can be specified).

[2016-06-08 22:07] hadley commented on #178
Can you please try again with the dev version?

[2016-06-09 04:01] evanmiller commented on #174
@itsdalmo Please try the latest haven and see if the error message is any different.

[2016-06-09 06:25] itsdalmo commented on #174
@evanmiller Just updated and now the example and `sample.sav` works again on both computers. Read some data I have lying around, and everything seems to be back to normal again. The issue can be closed unless you need any more info from me?

[2016-06-09 08:03] larmarange commented on #172
In some way, this discussion highlights a more general topic regarding labelled vectors. As far as I understood it, we can distinct two different approaches/philosophy.

The first one, adopted by `haven`, is to consider that labelled class is just an intermediate format for data import from SAS/Stata/SPSS. Therefore, there is no need to provide too many functions for labelled vectors manipulation,

[2016-06-09 09:18] itsdalmo commented on #172
Thanks for the tip @larmarange!

However, I don't think my needs warrant another import/dependency as I really only need to be able to convert labelled vectors to factors in a safe and reliable manner. And I think that `levels = "default"` not dropping unused labels would do just that.

@hadley was correct about my second point (at least for SPSS); there is no way to create an equivalent to the co

[2016-06-09 09:18] reikoch commented on #178
It works on both PC and Linux, thanks lots! Speed is not that great though, on PC via samba 1GB in 25 minutes, on Linux the same file via NFS in 6 minutes.

[2016-06-09 09:18] #178 closed

[2016-06-09 09:20] lionel- commented on #178
Is the speed issue only with dev haven?

[2016-06-09 09:43] reikoch commented on #178
Hm, with the dev version from 2016-05-26 the same file via Samba from PC is read in 18 minutes, probably not too big a difference.

[2016-06-09 12:43] evanmiller commented on #174
@itsdalmo "I'm happy if you're happy." Feel free to close if haven is correctly reading all your files.

[2016-06-09 12:56] itsdalmo commented on #174
So far so good @evanmiller. I'll just close it then, thanks :)

[2016-06-09 12:56] #174 closed

[2016-06-09 14:09] hadley commented on #33
@larmarange as far as I can tell `read_spss(user_na = TRUE)` now correctly preserves the user defined missings in http://joseph.larmarange.net/spss_missing.sav

[2016-06-09 14:13] #176 closed

[2016-06-09 15:20] reikoch commented on #176
Works! Thanks a lot Hadley!

[2016-06-09 16:32] statsccpr opened #181 "robustify read_dta() for reading in stata 13 and 14"
For this exact reason, I'm averse to proprietary stats software formats. Unfortunately many colleagues use stata etc.

# UPDATE
Using githubs dev version of 'haven::read_dta(file=foo)'
works for my particular scenario. I've tried three different stata formats

# Old Details Below

This can probably be Labeled as an 'enhancement'

There are some instances where haven::read_dta() errors out when rea

[2016-06-09 16:59] larmarange commented on #33
Looks perfect.

Thanks a lot @hadley

[2016-06-09 18:10] evanmiller commented on #181
Hi,

Feel free to post a Dropbox link or email me directly with the DTA file: emmiller@gmail.com

[2016-06-09 19:38] sjPlot opened #182 "Accessing labelled tagged NAs"
I'm very impressed by the new `NA` mechanism of haven, especially the tagged NA is a brilliant feature. For some functions of my package, I need to know which labelled NA corresponds to which NA tag:

[code]

[code]

So, how do I know wich labels - `attr(y, "labels")` returns 3 times `NA` - correspons to NA(a), NA(c) and NA(z)? (I don't mean the print-methods, which gives me the information, but h

[2016-06-09 19:51] hadley commented on #182
`na_tag()` ?

[2016-06-09 20:30] sjPlot commented on #182
`na_tag()` returns all NA values in order of appearance in the vector:

    na_tag(y)

What I would like to have:
If a functions gets a labelled vector, how can I find out which NA-labels are associated with which tagged NA value?

`na_tag` gives me "a", "c" and "z". `attr(*, "labels")` gives me three names NA-values, with the labels for the NA values as names. How do I know that the first name, _

[2016-06-09 20:36] sjPlot commented on #182
So, expected output could probably be:

[code]

[2016-06-09 20:49] hadley commented on #182
You need to use `na_tag()` on the `attr(x, "labels")` too.

[2016-06-09 20:49] hadley commented on #177
Fixed by #179

[2016-06-09 20:49] #177 closed

[2016-06-09 20:50] #172 closed

[2016-06-09 20:50] hadley commented on #181
@statsccpr also, are you using the dev version or the cran version?  If you're using the CRAN version, it's possible the problem has already been fixed in the dev version.

[2016-06-09 20:53] LaDilettante opened #183 "A Stata-like `codebook` function that quickly summarises a variable"
`codebook` is a Stata function that gives a quick overview of a variable (its name, missingness, range, value, labels). (See image). Stata users frequently ask for this function when they switch to R.

![stata_codebook](https://cloud.githubusercontent.com/assets/4418241/15945884/60c1f2cc-2e62-11e6-8460-6b4e0fc8f2a1.png)

Is this something `haven` wants to implement with regards to its `labelled` c

[2016-06-09 20:56] hadley commented on #183
It feels like it's out of scope for haven, not only for the reasons you mentioned, but also because it's useful for non-labelled variables.  I'm not sure where a good home would be. Tibble maybe?

But maybe it deserves it's own package? You could imagine it being an htmlwidget that generated nicely formatted output (plus graphics?)

[2016-06-09 20:56] #183 closed

[2016-06-09 21:29] sjPlot commented on #182
Ah, so easy! Thanks!

[2016-06-09 21:29] #182 closed

[2016-06-09 22:14] larmarange commented on #183
You could have a look to describe function in questionr package.
Le 9 juin 2016 22:53, "Anh Le" <notifications@github.com> a écrit :

[2016-06-09 22:56] LaDilettante commented on #183
@larmarange Thanks for the tip. Unfortunately the package author does not have much information on how to contribute. Plus, this idea is more general than just survey.

@hadley I'll open an issue on and contribute to Tibble.

[2016-06-10 09:39] larmarange commented on #183
@LaDilettante sorry didn't really understand your comment about contribution in `questionr`. That package is on GitHub : https://github.com/juba/questionr So it's easy to discuss and to propose issues or pull requests to the authors

[2016-06-10 17:51] sjPlot commented on #183
So what are exactly the requested information for the output? Maybe I can implement such a function in [sjPlot](https://github.com/sjPlot/devel), as one of this package's focus lies on facilitating labelled data.

[2016-06-14 17:31] statsccpr commented on #181
@hadley was right, for my particular scenario, the dev version via devtools::install_github("hadley/haven") works for all 3 dta formats output by stata 14.1

[2016-06-14 17:31] #181 closed

[2016-06-16 10:34] ajdamico opened #184 "as.data.frame.matrix coercion of read_spss result can leave each column as its own `tbl`"
hi, i'm not sure if this `as.data.frame.matrix` behavior is expected?  it is new as of version `0.2.0.9000` ..sorry if i'm missing something and thank you!

	# # # # running the same script with haven version 0.2.0 on CRAN:
	sapply(y,class)[1:5]
	 # IDSCHOOL   IDCNTRY  ACBGLOWG  ACBGHIGG  ACBGTENR
	# "numeric" "numeric" "numeric" "numeric" "numeric"

	# using version 0.2.0.9000
	devtools::install_

[2016-06-16 12:44] hadley commented on #184
I have absolutely no idea why you would expect `as.data.frame.matrix` to do something useful here

[2016-06-16 20:18] jjchern opened #185 "Is it possible to have a `add_val_labels()` function for pipeline?"
Right now if one wants to add value labels for a variable, it would be something like the following:

[code]

I was wondering if there can be a function `add_val_lables()` so that one can do

[code]

Or

[code]

[2016-06-16 20:30] larmarange commented on #185
did you have a look at labelled package? https://cran.r-project.org/web/packages/labelled/

[2016-06-16 20:56] jjchern commented on #185
Thank you for the comment! I just read `labelled`'s vignette, and it seems that I can do the following:

[code]

This is close to what I need. Still, maybe a function for pipeline could be worthwhile.

[2016-06-16 22:23] larmarange commented on #185
In dev version of labelled, I just added a `add_value_labels` function compatible with `%>%`. Please note that the syntax is slightly different from your proposal:

[code]

It still need some tests, as well as similar functions for variable labels.

[2016-06-17 00:08] jjchern commented on #185
Oh, that's very nice. Thank you for the quick response! I will close this issue then.

[2016-06-17 00:08] #185 closed

[2016-06-17 23:45] jjchern opened #186 "Is it possible for `haven` to import dataset attributes from Stata?"
# Background

Stata has various dataset attributes, such as
- dataset label,
- last saved date,
- short notes that allow dataset maintainer to include other metadata: data source, sample, maintainer email, etc.

Take the dataset `nlsw88` for example. Once loaded, it prints out a short dataset label:

![webuse](https://cloud.githubusercontent.com/assets/11262574/16166753/b62c7dc0-34b3-11e6-9656-4c9

[2016-06-21 11:17] sjPlot opened #187 "read-functions do not encode to UTF-8"
I have attached a small SPSS-file, where column names with German umlauts are not correctly encoded.

The current column names:
[code]

Required output:
[code]

Value and variable labels, however, are correctly imported:
[code]

[Test1.zip](https://github.com/hadley/haven/files/325404/Test1.zip)

[2016-06-21 14:15] hadley commented on #187
Have you tried with dev haven?

[2016-06-21 14:53] sjPlot commented on #187
Yes. To be sure,I just re-installed and tested with the current GitHub snapshot.

[2016-06-21 21:54] evanmiller commented on #187
This example file works OK for me.

[code]

[2016-06-22 08:39] Ohlsen commented on #187
I get the same problematic result. I had that on other occasions as well, it seems to be a problem with windows and R when they don´t use the same locale.

[2016-06-22 08:54] tklebel commented on #187
I have no problems on Mac with German/Austrian locale:

[code]

[2016-06-22 09:51] sjPlot commented on #187
Strange. In my [sjmisc-package](https://github.com/sjPlot/sjmisc), where I wrap the `read_spss`-function, I have added an `enc` argument, which - if specified - simply changes the encoding of column name (see [here](https://github.com/sjPlot/sjmisc/blob/master/R/read_write.R#L67)). I'm afraid this is not the fastest solution, or if it works for other encodings/locales as well, but it works at leas

[2016-06-22 12:10] crsh opened #189 "Reading old stata binary file takes lots of RAM and never finishes"
Hi,

I'm having trouble with an old `.dta` file (I don't know how old it is). I have tried reading it with `foreign::read.dta`, which tells me it's "not a Stata version 5-12 .dta file." `readstata13::read.dta13` didn't work either ("First byte: Not a dta-file we can read."). When I tried `haven::read_dta` the process drew ~10 GB of RAM and didn't seem to finish (the Stata file is only 1.5 MB).

If

[2016-06-22 12:14] larmarange opened #190 "Test "print_tagged_na is stable""
The test `expect_output_file(print_tagged_na(x), "tagged-na.txt")` is failing if the option `width` is not equal to 80 (could be be the case according to your local configuration).

Would it be appropriate to add the command `options(width = 80)` in that test? (https://github.com/hadley/haven/blob/master/tests/testthat/test-tagged_na.R#L57)

[2016-06-22 12:54] evanmiller commented on #189
Strange. If you can pass the file along to me I will take a look. Thanks!

[2016-06-22 14:25] hadley commented on #187
This is only a problem on Windows. Will be a simple fix when I'm next working on haven.

[2016-06-22 23:23] hadley commented on #190
Would be better to pass width argument to print

[2016-06-23 07:09] larmarange commented on #190
It seems that the default print method used for characters doesn't take into account a `width` argument.

Example:

[code]

The width argument will not be taken into account.

[2016-06-23 12:25] akitepowell opened #191 "Password protected SAS files"
Is there a way to read in password protected SAS files using haven?  I don't see it anywhere in the documentation, but I'm also somewhat new to this.  If not, that would be helpful functionality to add if possible.

[2016-06-23 12:34] hadley commented on #191
Probably not, but @evanmiller can comment on the difficult of adding to readstat.

[2016-06-24 13:59] evanmiller commented on #191
I am not sure what's involved in password protection. (I.e. whether the password encrypts the file or it's just an honor system with the reading software.)

[2016-06-24 14:37] BioStatMatt commented on #191
If it's honor system, and password simply another header field, then it seems existing routines should work with password protected files. I know that encryption is an option, whether as part of password protection or separate.

[2016-06-24 17:11] dalewsteele opened #192 "write_dta problem: with factor variables, NA written as large integer, not recognized as Stata missings"
write_dta() applied to a tbl_df containing a factor variable with NA values generates a Stata .dta file in which NA values are written as the large integer "2147483621".  Stata does recognize this integer as a missing value.

Requires post-processing in Stata (.do file below) to recode the large integer to missing. Significant compression is also possible via  'compress'.

[code]

Reproducible exa

[2016-06-24 17:57] hadley commented on #192
@evanmiller this seems to round-trip ok for me, and I'm just calling `readstat_insert_missing_value()`, so  I suspect this is a ReadStat issue

[2016-06-24 18:08] evanmiller commented on #192
The provided test file reads in OK (i.e. as missing) for me with ReadStat. I am following the spec here:

http://www.stata.com/help.cgi?dta_113

It is possible the missing value convention is different in v 111 -- but the Stata site no longer has documentation on 111.

[2016-06-24 18:22] evanmiller commented on #192
I can try to dig into this but @hadley probably the easiest workaround is to upgrade ReadStat which outputs the most recent DTA version by default. (Also supports strings up to 2045 bytes.)

[2016-06-24 18:28] hadley commented on #192
Ooops, pushed too soon - this crashes on write. Looking into it now

[2016-06-24 18:31] hadley commented on #192
@evanmiller any idea what might have changed? The bt is:

[code]

`readstat_begin_row()` gets called immediately after `readstat_begin_writing_dta(writer_, this, n)`

[2016-06-24 18:31] #189 closed

[2016-06-24 18:59] evanmiller commented on #192
@hadley Are you checking the return value of `readstat_begin_writing_dta`?

[2016-06-24 19:00] hadley commented on #192
Doh, no.

[2016-06-24 19:05] hadley commented on #192
Now I'm getting "Writing failure: This version of the file format is not supported." :)

(Which I think means that `readstat_writer_set_file_format_version` is technically not optional, so I think you should either tweak the docs or set a default value that does work)

[2016-06-24 19:07] evanmiller commented on #192
Thanks, will look into it. (Should be optional...)

[2016-06-24 19:21] evanmiller commented on #192
@hadley try updating, should be fixed.

[2016-06-24 20:00] hadley commented on #192
Thanks! Now I get "Writing failure: A provided value was outside the range of representable values in the specified file format." - I get that when `readstat_insert_missing_value()` to an integer column with dta (but not sav).

[2016-06-24 20:15] sjkiss commented on #59
I just came across this error again. It occurred when a value label did not actually occur in the variable.

[2016-06-24 21:00] evanmiller commented on #192
Ok, should be fixed now, try updating.

[2016-06-24 21:02] #187 closed

[2016-06-24 21:05] hadley commented on #192
@dalewsteele can you please try again with the latest dev version? Thanks!

[2016-06-24 22:19] evanmiller commented on #192
@hadley fyi I have also pushed code that ought to fix the issue for older (111 and earlier) Stata versions, should you decide to support them in haven via `readstat_writer_set_file_format_version`.

[2016-06-25 05:08] dalewsteele commented on #192
After loading the latest dev version:
 ( haven      * 0.2.0.9000 2016-06-25 Github (hadley/haven@aaa3f87)

Stata 14.1 (running on Ubuntu) returns the following, and fails to load:
[code]

[2016-06-25 11:47] evanmiller commented on #192
@hadley this commit ought to fix the new error: https://github.com/WizardMac/ReadStat/commit/19df240fb49ee75079ee6fa9eefdb3767075c53e

[2016-06-25 14:15] hadley commented on #192
@dalewsteele can you please try again now?

[2016-06-25 14:55] dalewsteele commented on #192
Excellent - Stata now recognizes NAs as missing. Thanks!

haven      * 0.2.0.9000 2016-06-25 Github (hadley/haven@876a4f9)

[2016-06-25 16:07] #192 closed

[2016-06-25 20:01] evanmiller commented on #186
@hadley The ReadStat build is currently broken, but I've added a new "metadata handler" that reports the file label, timestamp, and format version. Looks like there are some `strftime` portability issues though so don't integrate just yet.

[2016-06-25 20:58] evanmiller commented on #186
Okay, I've fixed the `strftime` issues. Should be ready to integrate, although I don't have a solution yet for Stata's "notes" feature.

[2016-06-27 19:08] sjPlot opened #193 "`write_sav` issues with labelled class vectors"
I have found some issues when saving labelled data to SPSS. I used the latest dev-build from 25th June. First, here is the reproducible example for the issues:

[code]

Now to what I have found:

  * Using the `data.frame` method on a labelled vector produces a column name with dots at the end. Dots are no legal characters at the end of variable names in SPSS. Trying to run any command with this v

[2016-06-27 20:26] evanmiller commented on #35
Any chance of revisiting POR support? I've recently changed the callback order to match the others. The only problem now is that `obs_count` is set to `-1` -- however, you'll need to handle this case anyway in order to parse SAV files from Java SPSS Writer.

I've also added a complete POR writer to ReadStat, though its primary purpose is to provide test coverage for the reader.

[2016-07-01 21:12] hadley commented on #35
I can take a look next week - I think it's going to be quite a lot of work though, since I'll need an strategy for dynamically reallocating the column vectors.

[2016-07-03 19:19] hadley commented on #35
@evanmiller would you consider adding a function that did a full parse to find the number of rows? I can add a helper myself, but it's much more likely that I'll have time to implement this if I don't need to rewrite the internals to automatically grow the vectors.

[2016-07-04 02:22] evanmiller commented on #35
All right, I'll see about adding an option (or maybe a special return value from the info handler -- `READSTAT_RETRY` or similar).

[2016-07-07 14:38] hadley opened #194 "Chunked API"

[2016-07-13 17:22] skanskan opened #195 "Encoding column names error ?"
Hello.

I have a file that can be read properly in Stata but when imported to R with my <- read_dta("area7.dta")  doesn't read the column names properly, it produces some strange symbols.
I've tried with the option encoding="UTF-8"  but it's not accepted.

[2016-07-13 18:33] hadley commented on #195
Did you install haven from github?

[2016-07-13 21:22] skanskan commented on #195
I've just updated and it works, I don't know if the problem was solved or I changed anything.
Regards

[2016-07-13 21:25] #195 closed

[2016-07-15 15:50] skanskan opened #196 "sapply(mydataframe, class)"
I don't know why if I do a
sapply(mydataframe, class)
I get a vector with the class of every column in the data.frame

But if I do the same with the data.frame that haven creates when I import an SPSS file  then the result is not the same, it's a list instead.

[2016-07-15 15:53] hadley commented on #196
That's the reason you shouldn't use `sapply()` - see http://r4ds.had.co.nz/robust-code.html#unpredictable-types

[2016-07-15 15:53] #196 closed

[2016-07-17 16:53] skanskan opened #197 "Problems with dates."
Please, delete this.

[2016-07-17 17:32] #197 closed

[2016-07-20 11:11] adeldaoud opened #198 "converting produces NA"
[code]

[2016-07-22 17:42] ajdamico opened #199 "sas7bdat file working on dev but not CRAN version, even though CRAN version number ahead of dev?"
sorry if i'm being an idiot.  i was excited to see haven 0.2.1 had been pushed to CRAN, but it looks like a file that worked using the dev version isn't yet working on the CRAN version?  thanks hadley!

	# data preparation
	downloader::source_url( "https://raw.githubusercontent.com/ajdamico/asdfree/master/Download%20Cache/download%20cache.R" , prompt = FALSE , echo = FALSE )
	tf1 <- tempfile()
	do

[2016-07-22 19:12] hadley commented on #199
That was just a point release to fix a failing check. The next realise of this branch will be 1.0.0

[2016-07-22 19:12] #199 closed

[2016-07-26 13:02] reikoch opened #200 "v0.2.1 fails to read SAS datasets"
Hi Hadley,
the new branch and tag v0.2.1 fails to read a couple of SAS files the master branch can read, for instance [https://github.com/reikoch/testfiles/blob/master/bar.sas7bdat](url). Further, the function read_sas() misses the "encoding" parameter to overrule missing or wrongly stated dataset encodings.

Would it be possible to put a better version of haven onto CRAN?

Kind regards
Reinhold

[2016-07-26 13:20] hadley commented on #200
0.2.1 was just a point release to fix some R CMD check issues

[2016-07-26 13:20] #200 closed

[2016-07-26 17:18] awmercer opened #201 "as_factor fails to associate labels with values"
as_factor seems to be failing to correctly associate some values with the appropriate label

In this example, as_factor does not associate the 3's with the label B
[code]

When the value for B = 2, this works as intended
[code]

[2016-07-26 18:17] hadley commented on #201
Looks fine in dev:

[code]

[2016-07-26 18:17] #201 closed

[2016-07-28 09:04] aghaynes opened #202 "Stata 14.1 files won't import"
I'm having issues reading stata 14.1 files into R using haven...

Stata:

`
sysuse auto
save "autos"
`

and then in R

`
dat <- haven::read_dta("temporary/autos.dta")
Error: Failed to parse [...]autos.dta: Invalid file, or file has unsupported features.
`

Is there a known bug at the moment? (I tried to install the github version but the Rcpp version it refers to doesnt appear to be available for

[2016-07-28 11:37] the-knife opened #204 "read_sas : wrong labels when importing formats"
Hello,

When importing SAS dataset with formatted variables, labels and values seem to match correctly only if possible values are given in the good (alphabetical?) order in the _proc format._

Here is a test data generated in SAS :
[code]

The problem arises when importing in R :
[code]
The resulting data.frame is wrong for factor fSEXB :

[code]

[2016-07-28 13:19] hadley commented on #204
I'm pretty sure this is already fixed in the dev version. I could check if you provided a link to the sas files you created.

[2016-07-28 13:23] the-knife commented on #204
[test_data](https://github.com/hadley/haven/files/388433/test_data.zip).

[2016-07-28 13:28] the-knife commented on #204
[test_data.zip](https://github.com/hadley/haven/files/388446/test_data.zip)

[2016-07-28 13:29] aghaynes commented on #202
Using the Stata Auto dataset (no need to use one of my own), in Stata :
`
sysuse auto save "auto"
save "auto"
`
and then in R:
`
dat <- haven::read_dta("auto.dta")
Error: Failed to parse [...]auto.dta: Invalid file, or file has unsupported features.
`

As its a dataset from stata, it shouldn't have any problem (I would have thought)

[2016-07-28 13:51] hadley commented on #202
That's not reproducible because I don't have stata...

[2016-07-28 14:33] aghaynes commented on #202
the one line code and dataset are here
https://github.com/aghaynes/misc

[2016-07-28 15:31] evanmiller commented on #202
The provided file opens fine with dev haven.

[code]

[2016-07-28 15:39] #202 closed

[2016-07-29 13:12] hadley commented on #204
Nope, not fixed. I see:

[code]

So it looks like there are two problems there

[2016-07-29 13:14] hadley commented on #198
Looks like its fixed in the dev version

[2016-07-29 13:14] #198 closed

[2016-07-29 13:15] #191 closed

[2016-07-29 13:16] hadley commented on #186
@jjchern could you please create a simple stata file that I can include in haven and use for testing?

[2016-07-29 13:16] #184 closed

[2016-07-29 13:16] hadley commented on #170
Now done.

[2016-07-29 13:16] #170 closed

[2016-07-29 13:17] #89 closed

[2016-07-29 13:36] the-knife commented on #204
Thanks for testing.

Note that I don't have the problem with SEXA :
[code]

[2016-07-29 15:47] jjchern commented on #186
@hadley Sure. How about the `iris` dataset? Here's the same dataset in three Stata versions. Just in case.

[code]

And here's a screenshot that shows the dataset attributes:

![screen shot 2016-07-29 at 9 59 04 am](https://cloud.githubusercontent.com/assets/11262574/17254292/c5cf32cc-5579-11e6-812f-23465b6bfaf4.png)

[2016-07-29 17:57] hadley commented on #186
Can you make your own really simple dataset? I want to include it in haven for testing

[2016-07-29 19:43] jjchern commented on #186
Sorry about that. Here's a test dataset:

[test_metadata.dta.zip](https://github.com/hadley/haven/files/391219/test_metadata.dta.zip)

The Stata code that generates the dataset (just for the record):

[code]

And a screenshot of how the metadata looks like in Stata's output window:

![screen shot 2016-07-29 at 2 31 04 pm](https://cloud.githubusercontent.com/assets/11262574/17261261/7627d4c4-559a-1

[2016-08-04 10:51] evanmiller commented on #186
Just to provide a quick update on the ReadStat side of things, I am working on adding read/write support for Stata notes, as well as the SPSS document record. You can track the progress of that effort over here:

https://github.com/WizardMac/ReadStat/issues/73

[2016-08-04 17:10] evanmiller commented on #107
Just so you know I am in the process of implementing this feature. You can follow along here:

https://github.com/WizardMac/ReadStat/issues/72

[2016-08-09 12:15] lottaholm commented on #112
I experience this same issue with haven version 0.2.1 downloaded two days ago. My (significant) zeros turn into NA:s when converted using as_factor.

[2016-08-09 13:52] hadley commented on #190
I've decided this should actually be fixed in testthat: https://github.com/hadley/testthat/issues/514

[2016-08-09 13:52] #190 closed

[2016-08-09 14:09] hadley commented on #186
@evanmiller when I load that "notes.dta" I get two notes: one is "1" and the other is "Reference: ...". Is that what you expect?

[2016-08-09 14:12] evanmiller commented on #186
That is what I see in the data file.

The "1" note is labeled "notes0" internally (handler receives note_index=0), so maybe it has some private meaning, e.g. number of notes or first note index. This stuff is completely undocumented so I'm flying a little blind.

[2016-08-09 14:12] hadley commented on #186
@evanmiller also I get an "invalid timestamp" for http://www.stata-press.com/data/r12/nlsw88.dta

[2016-08-09 14:14] hadley commented on #186
Looking at the notes in http://www.stata-press.com/data/r14/iris.dta, I'm guess that "empty" notes are given a default value based on their position.

[2016-08-09 14:16] #186 closed

[2016-08-09 14:30] hadley commented on #193
It would be helpful if you could file multiple issues for different problems. I've fixed the first one.

I'm not currently planning to add full write support for tagged missing values at this time.

[2016-08-09 14:30] #193 closed

[2016-08-09 14:32] evanmiller commented on #186
@hadley I'll open an issue on the invalid timestamp issue.

If you come to a better understanding about notes and how ReadStat should handle empty ones please file an issue.

[2016-08-09 14:40] hadley commented on #204
@evanmiller is this possibly a ReadStat problem? When I debug my `readstat_set_value_label_handler` I get:

[code]

i.e. in `$B` 1 is incorrectly mapped to female, and I see `$A` twice

[2016-08-09 14:59] evanmiller commented on #204
The incorrect mapping and double-handling are two separate bugs, will report progress over on the ReadStat issue tracker.

[2016-08-09 15:42] #35 closed

[2016-08-09 16:00] eborbath opened #207 "problem with compiling source code of the developmental version"
I am trying to install the developmental version, but I consistently get the same error message. I re-installed R+Rstudio+Rtools, deleted the library directory, etc, but the same compilation error emerged. Here's what's happening:

[code]

[2016-08-09 20:20] krlmlr commented on #207
Confirmed.

[2016-08-10 05:15] eborbath commented on #207
Can you please clarify what should I do to solve this? It's not very clear to me what your fix is.

[2016-08-10 05:57] krlmlr commented on #207
You can try the fix with

[code]

Once the pull request is merged, you can omit the `#208`.

[2016-08-10 06:03] eborbath commented on #207
Thanks, it worked! sorry for the confusion.
I needed to install `assertthat ` by hand though. Otherwise it failed again.

[2016-08-10 06:51] krlmlr commented on #207
Strange, there's no reference to `assertthat` in the entire codebase.

[2016-08-10 08:02] evanmiller commented on #204
@the-knife Could you please provide a test file with all four variations? Something like

[code]

[2016-08-10 08:31] the-knife commented on #204
@evanmiller
Sure, I'll do it on Friday (don't have SAS at home).

[2016-08-10 22:09] jaohar opened #210 "Numeric values are not usable by numerical functions in SPSS data files"
Numeric values are not able to be operated on with numerical functions (e.g. descriptives) on SPSS files outputted by write_sav. Integers work without issue. As a work around, the value type can be changed to string and back and then the numerical functions work as intended.

Please let me know if I am doing something incorrectly or if this is a known issue. If you would like me to produce an exam

[2016-08-11 06:49] evanmiller commented on #210
Hi, please let us know what version of haven you are using, and provide the smallest example file that demonstrates the issue. Your issue may be related to #133. If you are running haven from CRAN please install the latest GitHub version:

[code]

[2016-08-11 08:46] sjPlot commented on #193
No, I was not thinking about full write support for tagged NAs, but for converting them to regular NA before writing, because tagged NA produce invalid values in the output file.

[2016-08-11 11:21] jaohar commented on #210
Hello, the GitHub version of haven fixes this problem. Thank you. However now my R session crashes when I try to save my dataset as an SPSS file (for both R version 3.3.0 and Rstudio on Mac OS 10.11.6). I've isolated this down to a single factor/character value. I don't see any special characters here and don't understand what could be the problem.

Please try to reproduce this crash using the cod

[2016-08-11 11:46] evanmiller commented on #210
@jaohar Thanks for the update. I am able to reproduce the crash using the file you provided. For my own reference the backtrace is:

[code]

It is possibly related to the length of the string variable since >255 character support is new.

[2016-08-11 11:51] hadley commented on #193
In that case, please file a minimal bug report along those lines.

[2016-08-11 11:57] evanmiller commented on #210
Sure enough it seems to start crashing right at the 255 character mark.

@hadley any tips on turning off optimization? It looks like the stack trace is losing information due to inlining.

[2016-08-11 12:09] evanmiller commented on #210
Based on my poking around, it appears the crash isn't due to a long value per se, but rather due to a long value _label_. I am not sure what SPSS's limits are but I should be able to fix the crash at least.

[2016-08-11 12:19] evanmiller commented on #210
Fixed on the ReadStat side in https://github.com/WizardMac/ReadStat/commit/0ce38f6142c508e29884480b522810e3e7eeddff

[2016-08-11 12:20] evanmiller commented on #210
(According to the PSPP docs the limit is 120 characters. Right now I truncate the value labels longer than 120 characters, but it may be better to return an error instead.)

[2016-08-11 12:24] jaohar commented on #210
Please continue with the same behaviour of truncating the value labels and return a warning rather than an error. Errors will be annoying for everyone dealing with lengthy text-based data stored as factors by default. Thanks again.

[2016-08-11 16:17] #207 closed

[2016-08-11 16:49] evanmiller commented on #210
Should be fixed with #209.

[2016-08-11 18:12] #210 closed

[2016-08-12 10:08] the-knife commented on #204
@evanmiller Here are the sas formats :
[test_formats.zip](https://github.com/hadley/haven/files/415064/test_formats.zip)
(I assumed the last one was $D, not $B)

[2016-08-12 10:23] the-knife commented on #204
And here is the [associated data](https://github.com/hadley/haven/files/415100/test_data.zip) generated by the following code :
[code]

[2016-08-12 10:36] evanmiller commented on #204
Hi, do you experience the same problem with the provided file? In my tests I see

[code]

I.e. the expected label order.

[2016-08-12 11:04] the-knife commented on #204
Yes, B and D are still reversed.
[code]
With the stable haven version, btw. I don't know how to load the dev version.

[2016-08-12 11:05] evanmiller commented on #204
With the dev version I see

[code]

Install the dev version with

[code]

[2016-08-12 11:33] mikmart opened #211 "as_factor: incorrect labelling for numeric 'labelled' vectors with non-positive values"
I ran into an issue with missing values appearing in factors when converting `labelled` variables (imported from an SPSS `.sav` file) into `factors` using `as_factor`. It seems conversion from a `labelled` vector to a `factor` using `as_factor` fails when the original `labelled` vector has labels assigned to non-positive values. This seems to be caused by the `match(x, labs)` used in creating the

[2016-08-12 17:24] the-knife commented on #204
It is working now with the dev version.
Thank you.

[2016-08-12 17:45] #204 closed

[2016-08-12 17:46] hadley commented on #211
This is fixed in the dev version

[2016-08-12 17:46] #211 closed

[2016-08-19 13:20] lucasmation opened #212 "Error importing a large .dta file (from Stata 14)"
I have this 92million observations 2Gb file (cpf_pis_2004_2013_num.dta), which was saved in Stata 14.
haven, even the current dev version, is not able to import it.

When I create a 10pct sample of the same data (cpf_pis_2004_2013_num_10pct_sample.dta) the import procedure works fine (and in just 15s).

Unfortunately the data is confidential so I can not provide a minimal reproducible example

[co

[2016-08-19 14:08] lucasmation commented on #212
I actually produced a minimal reproducible example fro Stata sample datasets (see the Stata code that creates this in the end of this comment, readable even without knowing Stata language).

The full data [here](https://www.dropbox.com/s/vkiuw8579harlzz/auto_times_a_million.zip?dl=0) and the sample is [here](https://www.dropbox.com/s/55jp8o8nfbvix8t/auto_times_a_million_10pct_sample.zip?dl=0).

Do

[2016-08-19 17:56] dchiu911 opened #213 "`droplevels()` removes "label" attribute from a labelled vector"
The following code emulates a variable I might get from using `read_sav()`, although here I am adding the `label` attribute afterward.
[code]

Is there a way to preserve the variable label if I want to drop unused levels?

[code]

[2016-08-21 11:45] evanmiller commented on #212
Hi, what platform are you on? (Windows, Mac, etc)

[2016-08-21 12:43] lucasmation commented on #212
Windows

[2016-08-21 14:27] evanmiller commented on #212
Works OK for me on a slow Mac.

[code]

I'm guessing it's a Windows `off_t` issue. Will report back if I have a possible fix.

[2016-08-21 14:37] evanmiller commented on #212
@hadley Likely fixed in https://github.com/WizardMac/ReadStat/commit/9c30646e26727dfd133ca3316d4dc126e0854872

[2016-08-22 19:03] sjPlot commented on #213
You could use the `to_label()` function from the current [sjmisc-GitHub](https://github.com/sjPlot/sjmisc)-version:

    likert %>% to_label(., drop.levels = T) %>% str()

A final release to CRAN is planned after the haven-update, because sjmisc already supports the _tagged NA_ feature from haven.

[2016-08-22 23:50] dchiu911 commented on #213
Thanks @sjPlot!

[2016-08-22 23:50] #213 closed

[2016-08-23 22:27] hadley commented on #212
I get a warning:

[code]

And 3 errors:

[code]

Has something in the directory structure changed again?

[2016-08-23 23:08] evanmiller commented on #212
@hadley The directory structure is unchanged but some files in `src/sas/` have been renamed. Make sure you are deleting old files when you update ReadStat.

[2016-08-24 07:51] evanmiller opened #214 "read_sas: "b7dat" and "b7cat" are inaccurate parameter names"
The file format names are sas7bdat ("SAS 7 Binary Data") and sas7bcat ("SAS 7 Binary Catalog"). Moving the `7` after the `b` does not make much sense. I would suggest renaming to one of:

* `sas7bdat`/`sas7bcat`
* `bdat`/`bcat`
* `data`/`catalog`
* `data_file`/`catalog_file`

[2016-08-24 12:33] #212 closed

[2016-08-24 12:33] #214 closed

[2016-08-24 12:33] hadley commented on #214
Ooops! Thanks for spotting this

[2016-08-25 12:03] lucasmation commented on #212
Is that supposed to be working at this momment?
I just tryed and got the same error:

[code]

[2016-08-25 13:25] evanmiller commented on #212
@hadley I have added more seek error messages (+ a potential fix) here: https://github.com/WizardMac/ReadStat/commit/44bc7c930ff418861142c2f6d449e91f5ca332f1

[2016-08-26 11:20] evanmiller commented on #212
@lucasmation Please update haven and try again.

[2016-08-26 16:41] lucasmation commented on #212
It now works guys, tks!

[code]

[2016-08-26 16:58] mlaviolet opened #215 "read_sas cannot find files on network drives"
When I reran an old script, read_sas threw the following error:

Error in normalizePath(path.expand(path), winslash, mustWork) :
  path[1]="//Hzndhhsvf2/data/OCPH/EPI/BHSDM/Group/BRFSS/2013/Asthma callback/afa_nh13_adult_weighted_llcp.sas7bdat":
 The system cannot find the file specified

The path is fully qualified, pointing to a file on a network drive. Calling "file.exists" confirms the existen

[2016-08-30 20:11] ekstroem opened #216 "Invalid timestamp string"
Hi,

Trying to read in a Stata dataset I just received from a client.

    Invalid timestamp string (length=17): 30 JUN 2016 11:11
    Error: Failed to parse healthy_lifestyle_v3.dta: The file's timestamp string is invalid.

Now the timestamp looks fairly reasonable in my view, and the file is readable with the `readstata13` package although I haven't done anything besides just seeing that I didn'

[2016-08-30 20:16] hadley commented on #216
Have you tried the dev version of staticdocs?

[2016-08-30 20:29] ekstroem commented on #216
Ahem ... the link should be working now if that was what you were hinting at :)

Otherwise I haven't heard of staticdocs before and am slightly baffled as to how it would help with the stata file.

[2016-08-30 21:17] hadley commented on #216
Sorry that was a think-o, I meant dev version of haven.

[2016-08-30 21:30] ekstroem commented on #216
Ah! That makes me less confused (however `staticdocs` looks quite interesting) .  Yup. Just reinstalled to make sure:

    devtools::install_github("hadley/haven", force=TRUE)

and get the same result as before.

Here's the session info:

[code]

[2016-08-31 06:36] evanmiller commented on #216
Hi, it appears ReadStat is choking on the uppercase month name. Fixed in https://github.com/WizardMac/ReadStat/commit/6c4f3066778280041fa9ab6c40f902326ce1e66d

[2016-08-31 13:31] #216 closed

[2016-08-31 14:46] ekstroem commented on #216
Thanks!

[2016-09-10 21:39] hadley commented on #215
What happens if you do `normalizePath("//Hzndhhsvf2/data/OCPH/EPI/BHSDM/Group/BRFSS/2013/Asthma callback/afa_nh13_adult_weighted_llcp.sas7bdat")`?

[2016-09-10 21:43] hadley commented on #215
It would also be helpful if you could give the results of `traceback()`

[2016-09-12 10:29] larmarange opened #217 "Writing stat file in old format (e.g. Stata 8)"
Since the support of Stata 14, it seems that `write_dta` export data in Stata 14 format. The problem is that it's not possible to open the file with an older version of Stata and/or with other software that supports Stat format but usually only older version.

Therefore, would it be possible to have an option allowing to export a file to an older version of Stata?

[2016-09-12 10:50] evanmiller commented on #217
@hadley this can be specified with readstat_writer_set_file_format_version(), passing in DTA version 105-118.

Sent from my iPhone

[2016-09-12 14:11] mlaviolet commented on #215
I also encountered the issue with `read_spss` and `read_dta`. From the `readxl `package, `read_excel `seems to work.

`file.exists("//Hzndhhsvf2/data/OCPH/EPI/BHSDM/Group/BRFSS/2013/Asthma callback/afa_nh13_adult_weighted_llcp.sas7bdat")`
[1] TRUE

`normalizePath("//Hzndhhsvf2/data/OCPH/EPI/BHSDM/Group/BRFSS/2013/Asthma callback/afa_nh13_adult_weighted_llcp.sas7bdat")`
[1] "\\\\Hzndhhsvf2\\data\\O

[2016-09-12 18:01] BenWiseman commented on #34
I'm still having this issue with
http://www.cdc.gov/brfss/annual_data/2014/files/formats14.sas7bcat

I can read in the data from the respective .sas7bdat

`Error: Failed to parse C:\Users\WisemBH\AppData\Local\Temp\Rtmpi2Z4F3\file14f8582e3cc6: Invalid file, or file has unsupported features.`

[2016-09-12 18:55] evanmiller commented on #34
Hi @BenWiseman, are you using the development version of haven?

[code]

[2016-09-15 21:07] hadley commented on #217
How do dta versions correspond to stata versions? (just subtract off 100?)

What's the most common version of stata? Should I default to stata 13?

[2016-09-15 21:16] hadley commented on #215
Can you please try writing the path like `\\\\Hzndhhsvf2/data/OCPH/EPI/BHSDM/Group/BRFSS/2013/Asthma callback/afa_nh13_adult_weighted_llcp.sas7bdat``

[2016-09-15 21:18] hadley commented on #215
Regardless, this is a problem with `normalizePath()`, not haven, so unfortunately I can't fix it here.

[2016-09-15 21:18] #215 closed

[2016-09-16 06:15] evanmiller commented on #217
There's not a simple correspondence. I can add some C constants but the DTA docs state:

       Format        Current as of
        ---------------------------------------
          118         Stata 14
          117         Stata 13
          116         internal; never released
          115         Stata 12
          114         Stata 10
          113         Stata  8
        ------------------

[2016-09-16 13:21] #217 closed

[2016-09-20 14:44] larmarange opened #219 "Importing a variable with missing values but no labels"
In SPSS, you could have a variable with defined missing values but no value label. In such case, `read_spss` is producing a vector with a structure like:

[code]

If  it's working with `print`, there is a bug when using `summary`:

[code]

In fact, as currently written, `labelled_spss` format doesn't allow a vector with no value labels.

[code]

[2016-09-25 20:50] lepennec opened #221 "Typo in the conversion semantics vignette"
There is a ' covnert ' instead of 'convert'

Erwan

[2016-09-29 21:38] yimingli opened #222 "NA in string variable fail to write to Stata format"
Maybe I'm missing something, but here is a MWE:

[code]

Writing to Stata data format seems successful. But when I opened the dataset and took a look, I found 0 observation.

[code]

Here is my environement

[code]

[2016-09-30 00:20] yimingli commented on #222
https://github.com/sjewo/readstata13/issues/43

[2016-09-30 00:24] yimingli commented on #222
wsjewo/readstata13#43

[2016-09-30 00:24] yimingli commented on #222
https://github.com/sjewo/readstata13/issues/43

[2016-09-30 01:11] yimingli commented on #222
It turned out `summarize` is the wrong command to use in `Stata`. All good.

[2016-09-30 01:11] #222 closed

[2016-09-30 17:06] wepelham3 opened #223 "SPSS system missings read as NaN"
After installing the v1.0.0 update I noticed a bunch of `NaN`s in datasets I have been importing to R from SPSS using `read_sav()`.

It appears that the `.` or system missing values in my `.sav` files are now being read into R as `NaN` rather than `NA`.

Here is a [dataset](https://github.com/tidyverse/haven/files/503434/data.zip) with just one variable to illustrate the issue.

This variable has

[2016-10-08 02:21] Jiang-Li-backup opened #224 "The exported file cannot be opened by SAS"
I exported data to a SAS file. This file can be read by haven, but not the SAS. I am using SAS EG 7.1.

[2016-10-08 14:07] hadley commented on #224
Please provide a reproducible example.

[2016-10-09 01:20] Jiang-Li commented on #224
Thx. I also compared with the same data set created by SAS. The file generated by SAS EG is twice as big as that generated by R Haven. May I send the data files and code to you by email?

[2016-10-09 13:33] hadley commented on #224
Sure - both haven and SAS versions of the same file would be super helpful.

[2016-10-12 21:46] Jiang-Li commented on #224
I emailed the data and code to you a few days ago. Please let me know if you have not received it. Thx.

[2016-10-18 18:22] alawami opened #225 "Misreading SAS data"
I tried using haven (because I had the similar problem with sas7bdat package before it) to read the following data:

ftp://nhtsa.gov/NASS/2014/Formatted%20Data/gv.sas7bdat

It reads the variable 'ALCTEST' (third column) for example as a double. So in SAS I see the data starts as:

C,C,C,C,0,C,C,C,...

But in R, haven is reading it as:

NA, NA, NA, NA, 0, NA, NA, NA, ...

[2016-10-19 11:11] BurninLeo opened #226 "write_sav() - Invalid SPSS file with string length 255"
Haven:write_sav() will produce invalid SPSS files under some circumstances. Here's an example that won't work with SPSS v23. It seems an issue with string that are exactly 255 characters long.

    df = data.frame(row.names = c("1","2"))
    df$A = 1
    df$B = ""
    df["2","B"] = "123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789|1234567890123456

[2016-10-19 11:16] BurninLeo opened #227 "Export comment() as SPSS variable labels [feature request]"
R base contains the function comment() to leave notes for variables. This is sometimes used to store variable labels in the data set. It would be helpful if `haven:write_sav()` treated them like variable labels.

[2016-10-19 11:18] BurninLeo opened #228 "Allow SPSS strings longer than 255 characters [feature request]"
SPSS has been supporting strings with up to 32k characters for several versions by now. It would be helpful if `haven:write_sav()` could optionally support long strings. Currently, the function clips them to 255 characters.

[2016-10-20 20:16] hadley opened #229 "Create tibbles with tibble::tibble()"
To take advantage of future encoding improvements.

[2016-10-21 04:27] pkq opened #230 "Invalid date string"
I'm getting an `Invalid date string` error when attempting to read in an SPSS file:

`Invalid date string (length=9): 11 FEB 1412:35:06`
`Error in eval(substitute(expr), envir, enclos) : `
`  Failed to parse file_name.sav: The file's timestamp string is invalid.`

I'm guessing it has to do with the fact that there's no space between the year and timestamp, but don't have any idea what would cause

[2016-10-21 07:48] evanmiller commented on #230
Hi, do you know what program / version produced the SPSS file?

[2016-10-21 13:29] marciz opened #231 "Encoding"
SAS:

R:

Unsupported character set code: 67
Error in eval...

[2016-10-22 06:41] evanmiller commented on #231
@hadley this is fixed here: https://github.com/WizardMac/ReadStat/commit/ae79755f77cd8eed59aaf46b152a23e1fa2c0024

[2016-10-22 06:42] evanmiller commented on #226
Hi, I can confirm the issue. I will post here when a fix is available.

[2016-10-22 07:29] evanmiller commented on #226
@hadley This is fixed here: https://github.com/WizardMac/ReadStat/commit/e4b4c1bcd36e629a42201b4d37f0308690d58624

[2016-10-22 07:33] evanmiller commented on #228
Not sure what's happening on the haven side, but ReadStat can write strings of length up to 32KB as of https://github.com/WizardMac/ReadStat/issues/72.

[2016-10-24 23:08] rogerjdeangelis opened #232 "SAS and WPS could not read the SAS dataset created by R"
CONCLUSION ( On created SAS dataset from R)
1. SAS and WPS could not read the SAS dataset created by R even
   after fixing the dataset name issue
2. Missing datset name in SAS datset created from R.
   Slugging in the dataset name did not make the R SAS dataset readable by SAS
3. Min size for SAS is 128k with a lot of junk filler.
   Filler is unique to every SAS install?
4. SAS datasets are at l

[2016-10-25 14:57] rogerjdeangelis commented on #224
[r_write_sas7bdat.zip](https://github.com/tidyverse/haven/files/550940/r_write_sas7bdat.zip)

[2016-10-25 14:58] rogerjdeangelis commented on #224
see attachment
[r_write_sas7bdat.zip](https://github.com/tidyverse/haven/files/550943/r_write_sas7bdat.zip)

[2016-10-25 20:40] Jiang-Li commented on #232
Thanks. I also mentioned this problem in the previous post. Is there any solution?

[2016-10-25 22:46] pkq commented on #230
It was produced using SPSS, but I'm not sure which version it was. The file is a couple years old, so I'm guessing SPSS 20 or 21. The thing is, I'm almost positive I was able to read in this same file using an earlier version of haven. Has haven gotten more strict about requiring a valid timestamp? If so, is there any way to override this restriction?

[2016-10-26 05:27] evanmiller commented on #230
Yes the underlying library (ReadStat) has become more strict with regard to timestamps. It actually looks like the issue is with the case of the month (ReadStat was expecting "Feb", not "FEB"). I will get this fixed soon.

[2016-10-26 05:29] evanmiller commented on #230
Ok, this is fixed in ReadStat here: https://github.com/WizardMac/ReadStat/commit/688e5657cf8e0806c4464445a0d06c32a5d0e07d

[2016-10-26 05:40] evanmiller commented on #232
Duplicate of #224. The SAS7BDAT exporter is still experimental, but these reports are helpful.

Will exporting in SAS Transport (XPORT) format meet your needs? See related issue https://github.com/WizardMac/ReadStat/issues/29

[2016-10-26 06:10] pkq commented on #230
Awesome, thanks for the prompt resolution! Does this require an update to haven before I can use this in R?

[2016-10-26 06:14] evanmiller commented on #230
I think there's an update_readstat script or command so you don't have to wait -- this used to be documented in the README, but I don't see it now.

[2016-10-26 06:19] tklebel commented on #230
Hadley moved it to a function: https://github.com/tidyverse/haven/commit/beab2274a9798a15a93dc2cc65a702327f697c2e

You should be able to call it like this: ```haven:::update_readstat()```.

[2016-10-26 06:28] pkq commented on #230
It looks like `haven:::update_readstat()` worked, but I'm still getting the same `The file's timestamp string is invalid` error. Is there a way to confirm that I actually have the latest version of readstat?

[2016-10-26 07:36] evanmiller commented on #230
Can you send me the SAV file that's failing? I can check it on my end. Verifying the ReadStat version can be a little complicated since in the past haven has sometimes omitted some of the source files.

[2016-10-26 15:47] rogerjdeangelis commented on #232
Hi Evan

  The V5 xport only supports variable names up to 8 chars and length 200
bytes. Also I have to import on the SAS side.

  I know it is experimental, but do you have sample R code that works? Even
if the output is a special dataset.

On Tue, Oct 25, 2016 at 10:40 PM, Evan Miller <notifications@github.com>
wrote:

[2016-10-26 18:30] rogerjdeangelis commented on #224
Observation

Byte 33  has value 33 which indicates that the R SAS datasets use the  layout of  unix 64 bit.

I will try to read the R SAS dataset on Unix 64.

This should not matter, Win SAS should be able to read the dataset. I will look at the rest of the layout.
Unfortunately, I don't have WPS on Unix so I will create a unix SAS SAS dataset(not WPS) so more of
the R layout can be checked. SAS d

[2016-10-27 06:02] evanmiller commented on #224
A quick note about the "filler". SAS files are organized into a "header" followed by 1 or more "pages". By default haven will write a header of size 1024 bytes and pages of size 4096 bytes. This layout was common with older versions of SAS, but newer versions seem to use much larger header and page sizes. The sizes are defined as 32-bit integers at (or near) byte offsets 200 and 204. In any event,

[2016-10-27 06:16] evanmiller commented on #232
I don't have SAS or WPS installed, so I am flying blind here. The SAS writer was designed to provide test coverage for the SAS reader... we decided to expose the functionality in case anyone wanted to try to make it SAS-compatible. Note that sas7bdat is a closed format; the best description so far is Matthew Shotwell's [vignette](https://cran.r-project.org/web/packages/sas7bdat/vignettes/sas7bdat.

[2016-10-27 14:11] #226 closed

[2016-10-27 14:11] #230 closed

[2016-10-27 14:11] #231 closed

[2016-10-27 14:11] hadley commented on #228
@BurninLeo Please provide a reproducible example. There are three things you need to include to make your example reproducible: required packages, data, and code.

1.  **Packages** should be loaded at the top of the script, so it's easy to
    see which ones the example needs. This is a good time to check that you're
    using the latest version of each package: it's possible you've discovered

[2016-10-27 14:13] #221 closed

[2016-10-27 14:44] hadley commented on #225
@evanmiller any ideas on this one

[2016-10-27 17:32] evanmiller commented on #225
This is a tagged missing, yeah? Does haven display the tag or `NA`?

[2016-10-27 17:52] alawami commented on #225
haven displays NA. It is tagged missing. For this particular variable there
are 5 different missing tags, which haven displays all as NA.

On Thu, Oct 27, 2016 at 11:32 AM, Evan Miller <notifications@github.com>
wrote:

[2016-10-28 21:24] karldw opened #233 "Misreading SAS transport files"
I'm excited that `haven` now supports SAS transport files!  I'd like to read data from the [Medical Expenditure Panel Survey](https://meps.ahrq.gov/mepsweb/data_stats/download_data_files_detail.jsp?cboPufNumber=HC-172).  Using `haven::read_xpt` gives incorrect results, while `foreign::read.xport` seems valid.

An example:
[code]

[2016-10-28 22:46] michaelwhammer opened #234 "SAS Exporter - 2 Issues: Exhibits infinite growth; Crashes R;"
There are several data sets that I work with that I am unable to export using haven. The R session either crashes or the export never finishes (and the size of exported file continues to grow into the GB/TB realm even when the data is relatively small).

Unable to export to SAS:
https://app.box.com/s/s2manpitopcyq2f0bj0fwi75ghqc0cgb
https://app.box.com/s/ev8rxwsg2j1413d7n48wu0xkeyjfnetf
https://ap

[2016-10-30 05:49] evanmiller commented on #233
Thanks for the bug report. @hadley this is fixed by https://github.com/WizardMac/ReadStat/commit/a2271e4393b0d5da421a238d61b44b9975df247e

[2016-10-30 18:35] evanmiller commented on #223
@hadley I think you meant to close #233 (this one should be re-opened).

[2016-10-30 19:11] karldw commented on #233
Wonderful, thank you both for such amazing work!

[2016-10-30 19:11] #233 closed

[2016-10-30 19:58] hadley commented on #223
@evanmiller grrr, oops

[2016-10-31 15:38] michaelwhammer commented on #234
Updated issues to contain links to files.

[2016-10-31 20:52] pkq commented on #230
Not sure what I was doing wrong, but updating to the Github version oh haven worked. Thanks @evanmiller!

[2016-11-02 17:05] g3o2 opened #235 "`write_dta` fails with error (no file written)"
The code
[code]

produces the error
[code]

If I replace `write_dta` by `write_sav` or `write_sas`, no error is produced and the file appears to be saved.

[code]

This has occurred since haven version 1. Before, the said code would run without any error.

[2016-11-02 21:31] rogerjdeangelis commented on #232
Hi Evan

Only commercial products Carolina, WPS and Stat-transfer can create SAS datasets.

There is probably a dozen open applications that can create a SAS V5  xport files but not one open source application. You work is greatly appreciated and difficult.

I created a simple SAS dataset in R and examined it using R along with Mat's documentation and here is what I observed. These are my best gue

[2016-11-03 05:59] evanmiller commented on #232
Just a quick tip, ReadStat uses a header of 1024 bytes and a page size of 4096 bytes. So the file you're examining has 2 pages (1024 + 2 * 4096). The first page is of type META and the second is of type DATA. In 64-bit files the type appears at offset 32 within the page. See here for page type constants:

https://github.com/WizardMac/ReadStat/blob/master/src/sas/readstat_sas.h#L87-L91

[2016-11-04 01:32] rogerjdeangelis commented on #235
Write_sas does not produce an error for me in SAS, however neither WPS nor SAS can read the dataset.

Are you able to read the R SAS dataset in WPS or SAS?

Initially I got the following error from SAS

'dataset is not a SAS dataset'

I slugged in the datset name, which seemed to be missing and I still got a less troublesome error

'I/O error on SAS dataset TEST'

[2016-11-06 14:33] evanmiller commented on #235
@rogerjdeangelis Definitely looks like progress. I'll add code to provide a default data set name, so then we can worry about the I/O error.

[2016-11-06 14:35] evanmiller commented on #235
See https://github.com/WizardMac/ReadStat/commit/109a629cb5dd27ed4fd89de87223417a6b270db3

[2016-11-06 15:51] g3o2 commented on #235
@evenmiller and @rogerjdeangelis, in what way are your remarks related to the issue I've created ?

[2016-11-06 16:03] g3o2 commented on #234
Looks likes this issue may be related to #235.

Then, it also appears that the export experience may be different for different users. In my case, `write_sav` wrote a file. So, could it be that this were data set related ? Or could there be an R compatibility issue ?

[2016-11-06 17:25] rogerjdeangelis commented on #224
Thanks for the info and the excellent work.

None of Matt's test datasets have byte 32=33 and byte 35=22. I have checked many other datasets created with different hardware and none of them have the 33/22 combination that write_sas creates

Test datasets for Matt SAS7BDAT

                          32 33 34 35 36 37

compress_no.sas7bdat      22 22 00 32 22 01 02 32 9.0101M3NET_ASRV........
compre

[2016-11-06 20:47] rogerjdeangelis commented on #235
Not related to datastep name, but I have examined WPS, SAS  and Stat
Transfer datasets and none of then have the contents of byte 32 = 33 with
the contents of byte(35)=22. I think it might ne better if both bytes
contained 33. This bytes effect offsets.

None of Mat's test dataset have the 33/22 combination?​

On Sun, Nov 6, 2016 at 7:51 AM, g3o2 <notifications@github.com> wrote:

[2016-11-07 12:18] evanmiller commented on #235
@g3o2 Sorry, we got off-topic! I will delete my irrelevant comments. @rogerjdeangelis let's move the discussion to #224.

[2016-11-07 12:23] evanmiller commented on #224
@rogerjdeangelis Nice detective work!

[2016-11-09 22:04] methodds opened #237 "Accessing variable labels"
Hi,
I understand that value labels can be accessed with ``print_labels()`` and variable labels are displayed beneath variable names in the dataviewer. But is it also possible to access variable labels and store them , e.g. in a list? What I'm looking for is as possibility to copy Stata's ``lookfor`` command:

![stata_lookfor](https://cloud.githubusercontent.com/assets/7460499/20156366/5c3a535c-a6d

[2016-11-12 23:16] methodds opened #238 "read_dta fails with error"
Hi,
trying to load a Stata 14 dataset (file for reproduction is available [here](https://www.dropbox.com/s/u0a6pufln1sao6g/bla_sample.dta?dl=1)) raises an error. The dataset is not corrupt, as loading it with Stata or pandas works without a problem.

[code]

[2016-11-13 09:05] evanmiller commented on #238
Thanks for the report. This issue is fixed in ReadStat here: https://github.com/WizardMac/ReadStat/commit/fac9625a80b2dd09cd2e3a9f5a51731806240179

[2016-11-14 02:56] Deleetdk commented on #233
I'm trying to load from of the NHANES data. Gives a weird error currently, using Github version.

http://wwwn.cdc.gov/Nchs/Nhanes/Search/DataPage.aspx?Component=Questionnaire&CycleBeginYear=2013

Weight history datafile. Only available in XPT.

[code]

[2016-11-16 01:42] MichaelChirico opened #239 "FR: read_dbf"
When working with geospatial data, it's common to need to bring in data from .dbf files.

`foreign::read.dbf` is generally fine, but it would be nice to have a reader for such files inside `haven` as well (for consistency in arguments as well as being centrally available).

[2016-11-25 04:56] prashantj opened #241 "Problem with importing SAS dataset in R studio"
Dear Sir,

When I try to import SAS data set using haven package, i have got the following message and it could not import. I am attaching the scrren shot of the message.
![sas import issue](https://cloud.githubusercontent.com/assets/2465597/20614851/2dd92062-b2f9-11e6-9c97-7984c3127575.jpg)
The message is:
****Is this valid spss or sas or stata file? file must be a string , raw vector or a connec

[2016-11-28 22:25] rogerjdeangelis opened #242 "I am still unable to read a SAS dataset created by R but it appears that others can?"
Does any one know the combination of operating systems, bitness.. where SAS/WPS/Stat Transfer or Carolina can read a R created SAS dataset. This is a different test that a round trip in R.

Here is my latest try

  I have been unable to create a SAS dataset using Win 7 64bit, SAS 64bit 9.4M2 and R 64bit 3.2.4. It appears that others have been successful.

I have also tried with the latest version

[2016-11-28 22:28] rogerjdeangelis opened #243 "Others have been able to create SAS datasets from R but still fails for me"
Does any one know the combination of operating systems, bitness.. where SAS/WPS/Stat Transfer or Carolina can read a R created SAS dataset. This is a different test that a round trip in R.

Here is my latest try

  I have been unable to create a SAS dataset using Win 7 64bit, SAS 64bit 9.4M2 and R 64bit 3.2.4. It appears that others have been successful.

I have also tried with the latest version

[2016-11-30 02:34] h2appy opened #244 "Error occurred when reading SPSS file"
dataset <- read_sav(file = 'Q3-2032.sav')

Error in eval(substitute(expr), envir, enclos) :
  Failed to parse /Users/me/Documents/workspace/R/data/Q3-2032.sav: Unable to convert string to the requested encoding (invalid byte sequence).

temporary solution:
1. Open 'Q3-2032.sav' in SPSS, and save it as a new.sav file.
2. Execute read_sav(file = 'new.sav'), no error occurred now.

My environment:
OS

[2016-11-30 03:41] h2appy commented on #244
<img width="944" alt="2016-11-30 11 34 42" src="https://cloud.githubusercontent.com/assets/11326053/20738930/b73c06d4-b6f1-11e6-9cb5-7b662647ae0c.png">

After comparing the files: Q3-2032.sav and new.sav, I found that Q3-2032.sav has GBK encoding.

[2016-11-30 08:25] h2appy opened #245 "write_sav() has endless loop, write a 40GB file and still writting"
[haven_test.Rdata.zip](https://github.com/tidyverse/haven/files/621619/haven_test.Rdata.zip)

When I use write_sav() to create a SPSS file "test.sav", the file size is growing more than 40GB and still writting.

My Environment:
haven 1.0.0

[2016-11-30 16:26] fmerhout opened #246 "Invalid timestamp string"
Hi tidyversed,

I am having a similar issue as #216 and #230. Similarly, using an earlier version of _haven_ I was able to read in my dta file without a problem. After installing 1.0.0 I am getting the error `Invalid timestamp string (length=17): 06 okt 2014 14:00`.

I have tried the github version but the issue persists. From reading the other issues, I assume it might be the lacking capitalizati

[2016-12-01 09:51] stefanmr opened #247 "Value labels missing in string variable with user defined missing values"
First, i would like to thank you for the package, as well as all the other packages you made!!!

I am trying to import database from SPSS into R using "read_sav()". There is no error, but I notice that for most variables, the value labels are missing. Note that there are user-defined missing values, but for me it is irrelevant if they are converted to NA (they are all really missing).

So I wanted

[2016-12-01 21:06] carlganz opened #248 "Import subset of columns"
Similar to `readr::cols_only`, it would be very nice if I didn't have to load entire SAS datasets into R just to use one or two variables. Let me know if I can help.

Regards

[2016-12-02 15:34] evanmiller commented on #246
Hi, do you know what software/version produced the DTA file? The lower-case German timestamp appears to be unusual.

[2016-12-02 16:56] fmerhout commented on #246
Hi @evanmiller,

Unfortunately I do not know which Stata version/software produced the file but I had a similar hunch and simply opened and saved it with Stata13 which resolved the time stamp issue for me. Of course that might not be feasible for everyone.

The file I had an issue with is a 2014 country level file for the [European Social Survey](http://www.europeansocialsurvey.org/data/). Sorry f

[2016-12-02 17:16] evanmiller commented on #246
Thanks for the update. More of a workaround than a proper fix but I've made a patch that will accept German-style timestamps:

https://github.com/WizardMac/ReadStat/commit/09c9a2b8fae62b2a459866da2a3c6ce576972bfd

[2016-12-05 23:01] rogerjdeangelis opened #249 "Only R can read a SAS dataset created by R?"
Only R can read a SAS dataset created by R?

Is the objective to create a SAS data set that can be read outside of R?

I know this is not an easy problem and it works well within R.
Your efforts are appreciated.
Others have been able to import a SAS dataset outside of R,
but I cannot.

I can't get an answer from those who suceeded.,

Notes on write_sas

  1. write_sas does work in a round trip wit

[2016-12-12 15:28] byandell opened #250 "ReadMe.md typo in haven"
The first line begins: "Haven allows is designed to". I presume "allows" should be removed. Brian

[2016-12-13 13:55] pascaltanner commented on #245
I've got the same problem with my data. `write_sav` gets stuck in endless loop and can not be opened by SPSS while `write_sav` works perfectly fine (writing file and opening it in STATA). Unfortunately I can't provide my data at the moment.

    R version 3.3.2 (2016-10-31)
    Platform: x86_64-w64-mingw32/x64 (64-bit)
    Running under: Windows >= 8 x64 (build 9200)

    locale:
    [1] LC_COLLAT

[2016-12-14 15:56] JhossePaul commented on #245
I confirm the bug. Cannot write SAV files for large datasets (24000 rows, 670 columns, all character). Cannot share my data for copyright reasons. Hope you can fix this

[code]

[2016-12-15 10:44] skanskan opened #251 "Missing data read as NaN instead of NA"
Hello.

I'm using haven 1.0.0  on Windows 10.
When I use
`read_sav("myfile.sav")`
to read an SPSS sav file, missing data are read as NaN instead of the conventional NA.
Is it a bug? Is it supposed to be like that?
Can I change it with a simple flag when reading the file?

I know I could modify all my NaN afterwards
`myfile[myfile=="NaN"] <- "NA"`
but I'd prefer to get it done directly from haven.

[2016-12-15 22:33] rogerjdeangelis opened #252 "Other SAS users are having difficulty reading SAS datasets created by R"
Quentin McMullen
2:25 PM (6 minutes ago)

to SAS-L, me

Fair enough.  I just tried using haven to read sashelp.class into R (worked fine), then writing it.  And yeah, couldn't write something that SAS would read.  Even keeping only numeric or only character vars didn't help. Bummer.

[2016-12-21 15:26] Zardoz1978 opened #253 "Unexpected termination of R when reading an excessively big SAS data file"
I am currently testing R on large data files and I tried to load a large data file (1,8 GO in sas7dbat, uncompressed) while having -on purpose- not enough memory (the standard allocation) to receive it.  The result is a brutal termination of the R program.
![crash - read_sas](https://cloud.githubusercontent.com/assets/24603698/21394764/3803b5b0-c79a-11e6-8208-17a3691f5a64.JPG)

[2016-12-21 15:29] #253 closed

[2016-12-21 15:35] Zardoz1978 opened #254 "Unexpected termination of R when trying to read a large sas7bdat"
I am currently testing R with large data file. Whe trying to load a large SAS data file (1,8GO sas7bdat, uncompressed) with -on purpose - not enough memory (standard allocation), the R sesssion is brutally terminated without any message about lack of memory.
![crash - read_sas](https://cloud.githubusercontent.com/assets/24603698/21395099/7a6506a6-c79b-11e6-8e1d-3dc7fc2f8afa.JPG)

[2016-12-23 00:23] ecortens commented on #245
Just created a pull request that fixes this bug. It's caused by having one or more string columns in the data frame that have a length of 0, e.g.:

`
data <- data.frame(a = c("", "", ""))
`

The pull request fixes this by making the minimum length of a string column 1, rather than 0. (More details in the pull request comment.)

Hopefully this is easy to integrate, @hadley--it's causing some issues

[2016-12-23 06:14] evanmiller commented on #245
Fixed in https://github.com/WizardMac/ReadStat/commit/c443d7f0ba297a083a254bc8257a041616a7039a

[2016-12-30 16:01] hadley opened #256 "Import forcats and use as_factor generic"
https://github.com/tidyverse/forcats/issues/39

[2017-01-04 16:52] rogerjdeangelis opened #257 "Issues when reading SAS datasets with associated format catalog"
Issues when reading SAS datasets with associated format catalog

Win 7 64bit SAS 9.4 64bit

Your work with SAS datasets and SAS catalogs is appreciated.
Here are some areas for possible enhancements

1. I am unable to get value labels using the catalog_file option with read_sas.
2. The SAS/WPS code below demonstrates that the class.sas7bdat does have the $sex format attached.
3. The hex listing of

[2017-01-06 08:22] vidhjel opened #258 "write_sav fails when character variables contain special characters"
x <- as.data.frame(matrix(nr=2, byrow=T, c(
        "a","Normalresepter",
        "b","Blåreseptordningen §§ 2, 3a, 3b, 4 og 5 (gammel ordning §§ 2, 3, 4, 9, og 10a)")))
    for (i in 1:2) x[,i] <- as.character(x[,i])
    for (j in max(nchar(x[,2])):1){
	cat(j,"\n")
	x[,2]<-substr(x[,2],1,j)
	cat(x[2,2],"\n")
	tmp <- try(write_sav(x, "test.sav"))
    }

The above code yield the error message below

[2017-01-09 16:38] brianstamper commented on #169
I believe the limitation on label lengths is not correct - the length of _the name of a set of value labels_ is max 32, but the value labels themselves are limited to 32,000 characters each. Discovered this by read_dta() data that had been written by Stata and subsequently not being able to write_dta() because of this limit.

[2017-01-09 16:51] hadley commented on #169
@brianstamper Can you please file a new issue with a reproducible example?

[2017-01-09 17:47] brianstamper opened #259 "Support stata value labels longer than 32 characters"
Stata allows value labels longer than 32 characters, but haven write_dta() does not permit them.

To create a demonstration data set, in Stata do:  (Update: added a .zip of this file, below.)

    use http://www.ats.ucla.edu/stat/stata/modules/autolab.dta, clear
    label define foreignlabels 0 "Hey everybody I am a domestic car" 1 "Hey everybody I am a foreign car"
    label values foreign foreig

[2017-01-09 18:01] brianstamper commented on #169
@hadley Filed here https://github.com/tidyverse/haven/issues/259. Thank you!

[2017-01-10 13:10] Zardoz1978 commented on #258
A simpler example with write_sas :

'data.frame':   1 obs. of  2 variables:
 $ SUFFIXE   : chr ""
 $ COMPLEMENT: chr "14, 16 et 18= mÃªme immeuble"

Error in eval(substitute(expr), envir, enclos) :
  Writing failure: A provided string value was longer than the available storage size of the specified column.

[2017-01-11 15:40] brianstamper commented on #259
Here's a copy of the autolab.dta file produced by Stata as described above, using Stata 13.

[autolab.zip](https://github.com/tidyverse/haven/files/699289/autolab.zip)

[2017-01-11 16:06] rogerjdeangelis opened #260 "Comment on priority of fixes"
We do appreciate the work you are doing with respect to creating SAS datasets and reading SAS fprmat catalogs.

Programmers have other open source alternatives for 'every' foreign data structure in the haven package except writing SAS datasets and reading SAS formats. Python and Perl handle the haven foreign data structures. There may be some 'minor' issues like label lengths, but these are not 's

[2017-01-11 16:22] evanmiller commented on #260
Just to provide some context, the SAS binary writer is provided as "experimental" -- we implemented it mainly to provide round-trip test coverage for the reader, and with the hope that if someone was interested enough, they would build on our work to provide proper SAS compatibility.

[2017-01-13 12:36] huashan opened #261 "Problem with write_dta()"
I just updated the code  from github and compiled the package. However, this simple code doesn't run anymore:

[code]

I tried with different `version=` parameter, all result with the same error: "Writing failure: Unable to write data"

My working environment is as blow:

[code]

[2017-01-13 15:30] rogerjdeangelis opened #262 "SPSS value labels longer than 255 bytes cause crash"
Haven cannot create a SPSS file with a string longer than 255 bytes but Python can.
Vanilla SAS cannot, but it splits the string into 200 byte chunks over multiple varaibles;

Suggestion on improving the write_sav and write_sas in Haven.

* this runs from R term and from SAS if the string length is less than about 255 bytes
  but crashes with longer strings;

%utl_submit_r64('
source("C:/Program F

[2017-01-15 11:31] ajdamico opened #263 "read_sas() failure examples on compressed data"
hi, not sure if files like these should be supported?  i didn't find anything in the haven or ReadStat docs saying compressed `.sas7bdat` files are not allowed.  thanks

	tf <- tempfile()
	download.file( "http://www2.census.gov/programs-surveys/ahs/2002/AHS_2002_Value_Label_Package.zip" , tf , mode = 'wb' )
	z <- unzip( tf )
	sas_file <- grep( "\\.sas7bdat$" , z , value = TRUE )
	haven::read_sas(

[2017-01-15 13:29] BioStatMatt commented on #263
There is no reason why they shouldn't be supported, but they aren't supported by read.sas7bdat. Not sure if ReadStat has figured it out, but Parso library reads all types of compressed files.

[2017-01-15 13:39] ajdamico commented on #263
thanks, but it also fails for these files

	devtools::install_github("biostatmatt/sas7bdat.parso")
	tf <- tempfile()
	download.file( "http://www2.census.gov/programs-surveys/ahs/2002/AHS_2002_Value_Label_Package.zip" , tf , mode = 'wb' )
	z <- unzip( tf , exdir = tempdir() )
	sas_file <- grep( "\\.sas7bdat$" , z , value = TRUE )
	sas7bdat.parso::read.sas7bdat.parso( sas_file )
    #Error in .jcall

[2017-01-15 15:48] BioStatMatt commented on #263
Yes, that uses an old version of Parso. I do have the updates Parso code (Java) somewhere. I'll dig it up if you want to give it a spin.

[2017-01-16 00:18] rogerjdeangelis commented on #263
I want to thank Evan and Matt for opening up SAS datasets for R programmers.

Matt your documentation on SAS datasets has opened my eyes and haven has added speed and flexibility.

The code below reads and writes compressed SAS datasets with free
commercial software in combination with open source R(haven) or Python
Unfortunately WPS does not create a SAS data
set  within the R script.

It would b

[2017-01-21 06:05] Deleetdk opened #264 "Support for Statistica (.sta) files"
I've received some Statistica files in `.sta` format. Unfortunately, there does not seem to be any easy ways to convert this to anything without having Statistica. Note Stackoverflow questions:

http://stackoverflow.com/questions/16523674/how-to-open-statistica-sta-file-under-r
http://stackoverflow.com/questions/29750939/how-to-import-statistica-data-sta-into-r

I could not get their solution to w

[2017-01-24 01:25] jrosen48 commented on #223
Has there been an update to this? Same issue. Makes working with `.sav` files hard(er) to use - they're no fun to begin with!

[2017-01-24 15:35] hadley commented on #264
This is out scope for haven since it's not supported by ReadStat

[2017-01-24 15:35] #264 closed

[2017-01-24 15:36] hadley commented on #262
Can you please create a minimal reproducible example, and format your issue nicely so it's easier for me to read?

[2017-01-24 15:36] #260 closed

[2017-01-24 15:37] hadley commented on #260
Thanks for the feedback.

[2017-01-24 15:37] hadley commented on #257
Can you please clearly state the problem, provide a minimal reproducible example using R code (a remote SAS file is fine), and use markdown formatting to make the issue easier to read.

[2017-01-24 15:38] hadley commented on #254
Unfortunately there's no way for us to fix this without a reproducible example.

[2017-01-24 15:38] #254 closed

[2017-01-24 15:38] #252 closed

[2017-01-24 15:39] hadley commented on #239
This is out of scope for haven, which wraps the ReadStat library (which does not support dbf files)

[2017-01-24 15:39] #239 closed

[2017-01-24 15:39] #242 closed

[2017-01-24 15:39] #243 closed

[2017-01-24 15:39] hadley commented on #234
Can you please provide an inline minimal reproducible example?

[2017-01-24 15:40] #232 closed

[2017-01-24 17:01] mwh3780 commented on #234
Download the 4 files from above to C:/TEMP/

[code]

![sasdf1](https://cloud.githubusercontent.com/assets/19755074/22257481/712821a0-e21b-11e6-8556-b3a0be3e1765.PNG)

![sasdf3](https://cloud.githubusercontent.com/assets/19755074/22257485/777bac16-e21b-11e6-98d8-f09c3e0b2016.PNG)

![spss_df1](https://cloud.githubusercontent.com/assets/19755074/22257488/798922c2-e21b-11e6-8c10-db63f036f243.PNG)

The

[2017-01-24 19:04] hadley commented on #234
It would helpful if you could make the example fully reproducible by using `download.file` to download to `tempdir()`.  No need to include screenshots

[2017-01-24 20:02] rogerjdeangelis commented on #232
I would appreciate you keeping this open until

Perhaps, you could add a statement to the documentation that 'write_sas' only produces SAS datasets that can be read by R and we are woking on an exportable SAS dataset

'write_sas' does not produce a SAS dataset that can be read by SAS, WPS, Corolina or StatTransfer?

[2017-01-24 20:05] hadley commented on #232
You've filed a whole bunch of issues, none of which I can easily reproduce.

[2017-01-24 20:05] rogerjdeangelis commented on #257
Please keep this problem open

See example with log above

All the code to create a SAS dataset with format, which you can do with the free WPS software, and the R code has been given

[2017-01-24 20:09] rogerjdeangelis commented on #242
PLease don't close this issue

Complete example above.

 Tried to contact Oralytics, see  link above, because they were able to create a SAS dataset fro R.
 They did not reply.

My colleagues and I are unable to reproduce a SAS dataset that can be read by R. Could you contact them to see how they did it.

[2017-01-24 20:44] pkq commented on #223
I'd love to see a fix for this as well.

@jrosen48, the best workaround I've found so far is this one-liner to change all `NaN`s to `NA` after importing (assuming a datafile named df):

`df[df == "NaN"] <- NA`

[2017-01-24 20:46] hadley commented on #223
@pkg I think that should be `df[is.nan(df)] <- NA`

[2017-01-24 20:56] pkq commented on #223
That gives me an error message:

`Error in is.nan(df) :
  default method not implemented for type 'list'`

All of the columns imported using `read_sav` are atomic. Is haven actually setting the value to the character string "NaN"?

[2017-01-24 20:59] rogerjdeangelis commented on #232
​Your efforts are appreciated, this is a difficult problem and I am willing
to help.

I suggest you down load the free version of either StatTransfer or WPS.
StatTransfer is probably a better choice because  has a simple one page gui
to read the SAS dataset R creates​.

run this R code

library(haven);
write_sas(mtcars,"d:/sd1/mtcars.sas7bdat");

open StatTransfer (free edition)

Select SAS datase

[2017-01-24 21:11] hadley commented on #223
Oh I just assumed that `is.nan()` worked the same way as `is.na()`, but it doesn't. Grrr.

This does work:

[code]

[2017-01-24 21:33] pkq commented on #223
Interesting. You can convert from `NA` to `NaN` using `df[is.na(df)] <- NaN`, but not from `NaN` to `NA` using `df[is.nan(df)] <- NA`.

@hadley: Any idea what caused the change in behavior from [v0.2.1](https://github.com/tidyverse/haven/releases/tag/v0.2.1) to [v1.0.0](https://github.com/tidyverse/haven/releases/tag/v1.0.0)? Is this an issue with haven or [ReadStat](https://github.com/WizardMac/R

[2017-01-24 21:50] hadley commented on #223
@pkq no, but I doubt it will be hard to find/fix when I look at haven again.

[2017-01-24 21:55] pkq commented on #223
Sounds good, I'll try to be patient. haven & the tidy verse have changed my life!

[2017-01-25 08:00] rubenarslan commented on #262
I think I ran into the same problem. Here's a minimal reproducible example:

    write_sav(data.frame(long = paste(rep("a", times= 252), collapse = "")), path = "test.sav") # works
    write_sav(data.frame(long = paste(rep("a", times= 253), collapse = "")), path = "test.sav") # >Error # 1405 in column 8.

[2017-01-25 14:02] hadley commented on #262
@rubenarslan perfect - thanks!

[2017-01-25 14:05] hadley opened #265 "Send to tidyversity"

[2017-01-25 14:08] evanmiller commented on #262
Possibly fixed by: https://github.com/WizardMac/ReadStat/commit/e4b4c1bcd36e629a42201b4d37f0308690d58624

[2017-01-25 14:12] evanmiller commented on #234
@michaelwhammer Please file separate issues for the SPSS and SAS exporters.

If the SPSS export exhibits infinite growth (but no crash) it is likely a duplicate of #245.

[2017-01-25 14:14] #235 closed

[2017-01-25 14:14] #245 closed

[2017-01-25 14:19] hadley commented on #219
I think there are two problems here:

[code]

Would you mind providing an SPSS file that contains that variable so I can test?

[2017-01-25 14:20] hadley commented on #223
Could someone please provide a minimal reprex that I can use to test?

[2017-01-25 14:22] hadley commented on #225
@alawami you need to use `na_tag()` to extract the values

[code]

I'd recommend reading http://haven.tidyverse.org/articles/semantics.html#missing-values

[2017-01-25 14:22] #225 closed

[2017-01-25 14:22] hadley commented on #265
Ooops, already have

[2017-01-25 14:22] #265 closed

[2017-01-25 14:23] hadley commented on #227
This seems like a good idea, but unfortunately it's not high enough on my priority list that I will implement it myself. However, I'd be happy to review a PR.

[2017-01-25 14:23] #227 closed

[2017-01-25 14:23] hadley commented on #228
Closing due to absence of reprex

[2017-01-25 14:23] #228 closed

[2017-01-25 14:27] hadley commented on #237
This seems like a good idea, but unfortunately it's not high enough on my priority list that I will implement it myself. However, I'd be happy to review a PR.

Here some (untested) code to get you started:

[code]

You'd need to think about what this function should return - a vector of variable names or the variables themselves?

[2017-01-25 14:27] #237 closed

[2017-01-25 14:28] hadley commented on #238
And now fixed in haven thanks to readstat update

[2017-01-25 14:28] #238 closed

[2017-01-25 14:28] hadley commented on #241
Please provide a reproducible example. There are three things you need to include to make your example reproducible: required packages, data, and code.

1.  **Packages** should be loaded at the top of the script, so it's easy to
    see which ones the example needs. This is a good time to check that you're
    using the latest version of each package: it's possible you've discovered
    a bug that

[2017-01-25 14:29] hadley commented on #244
Please provide a reproducible example. There are three things you need to include to make your example reproducible: required packages, data, and code.

1.  **Packages** should be loaded at the top of the script, so it's easy to
    see which ones the example needs. This is a good time to check that you're
    using the latest version of each package: it's possible you've discovered
    a bug that

[2017-01-25 14:29] hadley commented on #244
@evanmiller maybe there's already enough info here for you to see the problem?

[2017-01-25 14:30] hadley commented on #246
@fmerhout if this isn't resolved, please open a new issue with a minimal reprex (http://github.com/jennybc/reprex#what-is-a-reprex)

[2017-01-25 14:30] #246 closed

[2017-01-25 14:30] hadley commented on #247
Please provide a reproducible example. There are three things you need to include to make your example reproducible: required packages, data, and code.

1.  **Packages** should be loaded at the top of the script, so it's easy to
    see which ones the example needs. This is a good time to check that you're
    using the latest version of each package: it's possible you've discovered
    a bug that

[2017-01-25 14:33] hadley commented on #248
This is a relatively complicated problem because you need to figure out some good way of describing which columns you want to important. It might be possible to borrow readr's `cols()` specification, but that feels like a bit of an abuse to me, because haven doesn't have to do any coercion.

It would be helpful if you could provide some examples of the problems you are trying to solve.

[2017-01-25 14:33] hadley commented on #249
Duplicate of #224

[2017-01-25 14:33] #249 closed

[2017-01-25 14:33] hadley commented on #250
Fixed by #240

[2017-01-25 14:33] #250 closed

[2017-01-25 14:34] hadley commented on #251
Duplicate of #223

[2017-01-25 14:34] #251 closed

[2017-01-25 14:35] evanmiller commented on #244
@h2appy Can you please provide a link to the file that's not importing?

@hadley This issue may be similar to https://github.com/WizardMac/ReadStat/issues/85 (however that issue was affecting SAS files so it's not a duplicate of this one)

[2017-01-25 14:36] hadley commented on #257
@rogerjdeangelis please read http://github.com/jennybc/reprex#what-is-a-reprex and https://guides.github.com/features/mastering-markdown/, then update your issue so it's easier for me to read, and includes code that I can copy and paste into R to create the problem.

[2017-01-25 14:39] hadley commented on #258
This works for me:

[code]

But it's possibly because I'm on a mac. Could you please see if that works for you?

Otherwise, a [reprex](http://github.com/jennybc/reprex#what-is-a-reprex) in that style would be much appreciated.

[2017-01-25 14:52] hadley commented on #261
Please try again now with the dev version

[2017-01-25 14:52] #261 closed

[2017-01-25 14:53] hadley commented on #259
@evanmiller does readstat support writing these long variable labels?

[2017-01-25 14:56] hadley commented on #262
@evanmiller with the latest readstat, when running the first example (i.e. with length 252), I now get a crash:

[code]

[2017-01-25 14:59] hadley commented on #263
Follow progress at https://github.com/WizardMac/ReadStat/issues/21 - this will be added to haven soon after it's added to ReadStat.

[2017-01-25 14:59] #263 closed

[2017-01-25 15:17] evanmiller commented on #259
@hadley Yes.

[2017-01-25 15:30] evanmiller commented on #262
@hadley That is strange since the 252 and 253-byte string are now under test coverage... do other <252 and >255 length strings crash too?

[2017-01-25 16:05] carlganz commented on #248
An example is I work in a data access center where data is kept exclusively in (large) SAS files. I develop Shiny apps, which have to read the entire SAS file, which takes a while, even though the app is only using a small subset of the variables in the file. Obviously SQL is the solution, but in the world of public health SAS/Stata/SPSS is ubiquitous, and SQL is rare (for now).

My hope is that I

[2017-01-25 17:39] hadley commented on #248
Could you give me an idea of the size of the files? (in terms megabytes, rows x cols, and how long it takes to load?).  Actually importing selected columns will be relatively straightforward, but I'm not sure if it will improve performance by that much.

[2017-01-25 18:38] #259 closed

[2017-01-25 18:41] hadley commented on #262
@evanmiller yeah, I've only run a few test cases but length 100 is ok, but 200 is not.  I can try and narrow it down more if that would help

[2017-01-25 18:42] hadley commented on #262
@evanmiller btw the problem isn't actually strings, but is actually value labels

[2017-01-25 18:44] hadley commented on #262
Slightly more simpler reprex:

[code]

[2017-01-25 18:52] evanmiller commented on #262
@hadley Thanks, that makes sense, will investigate.

[2017-01-25 19:10] evanmiller commented on #262
Welp: https://github.com/WizardMac/ReadStat/blob/master/src/spss/readstat_sav_write.c#L22

The file format limits value labels to 120 chars, so ReadStat attempts to truncate to 120. Likely a buffer overrun or something for 120+ bytes.

[2017-01-25 19:21] evanmiller commented on #262
If these are value labels, what is the underlying data type and storage size? (The SAV writer has separate code paths for string values longer than 8 bytes vs 8 bytes or shorter.)

[2017-01-25 19:35] evanmiller commented on #262
May or may not fix things: https://github.com/WizardMac/ReadStat/commit/7e2965d509459bb87f2a1a2f8c6dcfb9bf96e56e

[2017-01-25 20:48] carlganz commented on #248
For a one year Adult [CHIS](http://healthpolicy.ucla.edu/chis/Pages/default.aspx) file you will find around 21000 rows and 2400 columnn, so a little over half a terabyte in size. It takes a little under 20 seconds to load.

Sometimes I just need one variable from two separate years so I end up loading essentially a whole terabyte of data into R just to work with a really small subset of that data.

[2017-01-25 22:07] hadley commented on #262
Looks good - thanks @evanmiller !

[2017-01-25 22:12] evanmiller commented on #262
FYI the news note is misleading as value labels are still truncated to 120 chars.

[2017-01-25 22:13] hadley commented on #248
Ah, I was thinking about speed, but memory is also an issue for that much data. Even if it was only marginally faster, it would still be helpful to pull in only selected columns.

@evanmiller have you thought about this at all? Obviously I could filter based on the variable index, but maybe if haven knew which variables I was interested in it could skip even more work?

[2017-01-25 22:25] hadley commented on #262
Ooops, not only that but I guess I forgot to test it with a long enough label :/

[2017-01-25 22:29] evanmiller commented on #248
Skipping columns will likely be the same amount of I/O but could cut down on CPU significantly. My guess is the perf gain will depend on whether the workload is I/O-bound or CPU-bound.

Doing the filtering in ReadStat instead of in haven will save a short `memcpy` and at least function call per value (i.e. invoking the value handler)... more with text values that require UTF-8 conversion. Because

[2017-01-25 22:32] hadley commented on #262
I've added an R-side check for now. If you figure out the root problem, I can change the error to a warning.

[2017-01-25 23:37] hadley commented on #248
Ok, I might have a go at hacking together a solution where you can just supply a vector of column names. Then I can do a little benchmarking to see if it's worth doing at a lower level.

@carlganz any chance those big SAS files are publicly available?

[2017-01-26 00:50] pkq commented on #223
I think this should work. I had some trouble getting the install/loading sequence automated, but it passed [reprex](https://github.com/jennybc/reprex), so I think it gives you what you need. Let me know if you have any questions!

[code]

[2017-01-26 00:59] carlganz commented on #248
HIPAA data so no unfortunately. I can send you an equivalent SAS file to work with tomorrow when I have access to SAS again if you'd like.

[2017-01-26 08:23] vidhjel commented on #258
Thank you for your suggestion, unfortunately it doesn't work:

Error in write_sas_(data, normalizePath(path, mustWork = FALSE)) :
  Writing failure: A provided string value was longer than the available storage size of the specified column.

By the way,
df <- tibble::tibble(y=c("a","b"),x = c("Normalre", "Blårese")) # Works fine
df <- tibble::tibble(y=c("a","b"),x = c("Normalr", "Blårese")) # Yiel

[2017-01-26 10:04] rubenarslan commented on #262
@hadley I think the root problem is SPSS, I also cannot make value labels longer than 120 in the software itself. But long strings work fine now, thanks a lot!

[2017-01-26 10:46] skanskan commented on #223
@pkg Then we just need to use haven 2.1?
Or also need to do anything else when reading the data? such as using tibble.

[2017-01-26 13:29] hadley commented on #248
@carlganz that would be great if you could host them somewhere publicly. It's possible I'll get caught up with other projects and won't be able to get back to this for a few months.

[2017-01-26 13:30] hadley commented on #258
GitHub issues use [markdown](https://guides.github.com/features/mastering-markdown/) and they're much easier to read if you learn a little bit about it. The most important thing is to put your R code inside a block that starts with ```` ```R ```` and ends with ```` ``` ````. I've done that for you here, but I'd really appreciate it if you would format it yourself in the future.

[2017-01-26 13:31] hadley commented on #258
Can you please also work on making your reprex minimal, like mine? I have lots of examples that work - I just need to have one example that I can easily copy and paste into R that demonstrates the problem.

[2017-01-26 13:40] hadley commented on #223
I've cleaned up the issue title/comment thread to focus on key components of problem. Thanks for the correspondence so far :smile:

[2017-01-26 13:41] rubenarslan commented on #262
So strings longer than 255 still don't work with haven installed just now from Github. Sorry, I think I misunderstood some of the above. Is this now a problem with value labels? But strings don't have value labels in SPSS right? Value labels have an actual hard limit, strings longer than 255 just get a special treatment under the hood?

    n <- 256
    df <- data.frame(long = paste(rep("a", n), c

[2017-01-26 13:41] hadley commented on #223
@pkg unless I specifically ask for it, there's no reason to include code that works in a reprex. I've cleaned up your reprex for you

[2017-01-26 13:45] hadley commented on #262
@rubenarslan you did not create a string there. `data.frame()` automatically turns character vectors into factors by default.

[2017-01-26 13:52] evanmiller commented on #258
Eyeballing the issue, it looks like whatever is calculating the max string length is counting characters when it should be counting bytes.

[2017-01-26 13:56] rubenarslan commented on #262
Sorry, I have `stringsAsFactors = FALSE` in my .Rprofile, forgot that this would be relevant.
The error occurs with strings.

    n <- 256
    df <- data.frame(long = paste(rep("a", n), collapse = ""), stringsAsFactors = FALSE)
    write_sav(df, path = "test.sav")

[2017-01-26 14:40] evanmiller commented on #262
@rubenarslan Are you using the latest code? Your example works fine for me.

[code]

[2017-01-26 15:11] rubenarslan commented on #262
I am. SPSS refuses to open the file, haven has no problem.

DATASET NAME DataSet1 WINDOW=FRONT.

[2017-01-26 15:15] rubenarslan commented on #262
I assume you don't have SPSS to test? Maybe this helps, I made three test files.
In all, I wrote a long string consisting of "a" with one "b" at the end.
One is 255 characters, written in haven, it opens in SPSS.
One is 256 characters, written in haven, it doesn't open in SPSS.
One is the first file, with the string width increased from 255 to 256 in SPSS (added one a). This one opens fine too.

[

[2017-01-26 15:27] evanmiller commented on #262
@rubenarslan Please open a new issue if the issue is SPSS compatibility rather than a crash.

[2017-01-26 15:37] hadley commented on #256
Fixed f440fd7a8b208abe87d31046318e60857639f7ee

[2017-01-26 15:37] #256 closed

[2017-01-26 15:37] rubenarslan opened #266 "SPSS Error # 1405 when reading haven-created SAV files containing 256+ byte strings"
SPSS (v.20.0) cannot read files written by haven if there are any strings longer than 255 characters (or bytes, strings with umlauts need to be shorter still).

### to reproduce

[code]

### test files
I made three test files.
In all, I wrote a long string consisting of "a" with one "b" at the end.

1. is 255 characters, written in haven, it opens in SPSS.
2. is 256 characters, written in haven, i

[2017-01-26 15:39] rubenarslan commented on #262
Sorry, hadley changed the title of this issue from "support" to "crash" after I started commenting.

I assumed we were talking about the same thing (I mentioned the SPSS error only in the off-screen comment of my original reply), but didn't read the title of the original issue carefully enough.

[2017-01-26 16:40] pkq commented on #223
Much appreciated!

[2017-01-26 16:57] evanmiller commented on #248
@hadley Column subsetting isn't too hard to implement on the ReadStat side, so I'll take a crack at it today. Thinking of adding a `SKIP` return value from the variable handler.

[2017-01-26 17:54] evanmiller commented on #248
@hadley Check out https://github.com/WizardMac/ReadStat/commit/fc2fafcdf1f218666876c0747f7d3bba5d231a0d

[2017-01-26 19:10] hadley commented on #248
@evanmiller just to confirm - the variable `index` will still be the position in the original file, right? i.e. I'll need to maintain my own map from input column to output column.

[2017-01-26 19:33] evanmiller commented on #248
@hadley Correct, currently the value of index is unchanged. I could potentially add a second index that takes into account skipping.

[2017-01-26 19:42] hadley commented on #248
@evanmiller that would make me quite happy 😄

[2017-01-26 20:20] carlganz commented on #248
@hadley The SAS file I generated isn't quite as large as the one I was dealing with originally, but it should work fine. I took the CHIS public use file, which is much smaller, and I concatenated it with itself multiple times to get a larger file. [Here is a link](https://drive.google.com/open?id=0B02a63pucn5GQnMtREZaRlJQSlU)

[2017-01-26 21:10] evanmiller commented on #248
@hadley Try this:

[code]

https://github.com/WizardMac/ReadStat/commit/9072ac4a4c260d9a872ff92ca31a56d24e5ee12f

[2017-01-27 22:06] kerry-ja commented on #228
I seem to have the same issue.

The code I used:
require('haven') || devtools::install_github("tidyverse/haven")

c <- data.frame(1:2,c("Foo",paste(replicate(300, "A"), collapse = "")), stringsAsFactors = FALSE)
colnames(c) <- c("RowNum","Text")
write_sav(c, path=paste0("Desc Over 255 ",format(Sys.Date(), format="%B %d %Y"),".sav"))

When I tried to open the .sav file generated, the file is not op

[2017-01-27 22:57] hadley commented on #228
@kerry-ja Thanks for providing some code that illustrates the problem — it's a great start 😄 However
GitHub issues use [markdown](https://guides.github.com/features/mastering-markdown/) and they're much easier to read if you learn a little bit about it. The most important thing is to put your R code inside a block that starts with ```` ```R ```` and ends with ```` ``` ````.  (And please don't incl

[2017-01-27 22:58] hadley commented on #228
Also this seems like the same issue as #266, so you might not need to do anything.

[2017-01-27 23:03] #223 closed

[2017-01-27 23:05] hadley commented on #266
You're sure you have the latest haven? That doesn't crash for me.

[2017-01-27 23:05] hadley commented on #266
Ooops, sorry, this isn't about crashing but about SPSS not being able to read the files.

[2017-01-27 23:15] pkq commented on #223
Awesome, thanks @hadley!

[2017-01-27 23:17] michaelwhammer commented on #234
@evanmiller Yes, it appears that one of the issues I've experienced is the same as [#245](https://github.com/tidyverse/haven/issues/245) (exhibits infinite growth without crashing). As that issues seems to have been addressed I've changed the name of this issue to address the SAS exporter.

@hadley Fully reproducible code provided below.

I've provided files where the SAS exporter experiences issu

[2017-01-27 23:42] hadley commented on #234
(Please don't include session info unless it's explicitly asked for, or you've used `reprex::reprex(..., si = TRUE)` to hide it away. I've deleted it from your issue to avoid cluttering up the discussion)

[2017-01-30 10:45] wds15 opened #267 "haven 1.0.0 does not compile with Intel"
When trying to install haven 1.0.0 with the Intel compiler (icpc (ICC) 15.0.3 20150407) I get this error log:

[code]

Here is my session info:

[code]

Could it be that some C++ being used is not fully standard?

[2017-01-30 14:25] #262 closed

[2017-01-30 14:25] hadley commented on #257
I've closed this issue due to lack of requested reprex. If you still care about this bug, please open a new issue with a reprex.

[2017-01-30 14:25] #257 closed

[2017-01-30 14:25] hadley commented on #247
I've closed this issue due to lack of requested reprex. If you still care about this bug, please open a new issue with a reprex.

[2017-01-30 14:25] #247 closed

[2017-01-30 14:26] hadley commented on #244
I've closed this issue due to lack of requested reprex. If you still care about this bug, please open a new issue with a reprex.

[2017-01-30 14:26] #244 closed

[2017-01-30 14:26] hadley commented on #241
I've closed this issue due to lack of requested reprex. If you still care about this bug, please open a new issue with a reprex.

[2017-01-30 14:26] #241 closed

[2017-01-30 14:30] hadley commented on #234
Slightly cleaned up reprex below.

@evanmiller I still see both issues on latest haven.

[code]

I've cleaned up the issue title/comment thread to focus on key components of problem. Thanks for the correspondence so far :smile:

[2017-01-30 14:40] hadley commented on #267
Those all look like they're coming from Rcpp, so I think this is out of scope for haven.

[2017-01-30 14:40] #267 closed

[2017-01-30 15:11] rogerjdeangelis opened #268 "Catalog option is ignored with read_sas"
Thanks for all the good work

[code]
There is not log

supporting dodumentation
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Issues when reading SAS datasets with associated format catalog

Win 7 64bit SAS 9.4 64bit

Your work with SAS datasets and SAS catalogs is appreciated.
Here are some areas for possible enhancements

I am unable to get value labels using the catalog_file opt

[2017-01-30 15:13] rogerjdeangelis opened #269 "Stata 14 supports character lengths > 244 bytes (supports 2045 bytes)"
This is just a suggestion for an enhancement.  Not sure you are cognizant of this.

[2017-01-30 15:28] rogerjdeangelis commented on #268
Added SAS dataset and format catalog

[class.zip](https://github.com/tidyverse/haven/files/739359/class.zip)

[2017-01-30 17:13] hadley commented on #268
Thanks for the reprex — you can make it even better by using `download.file()` to download the file to `tempfile()` so that I can copy and paste a single block of code.

Could you please also edit the title to succinctly describe the issue and use ```` ``` ```` to mark the SAS code as code?

[2017-01-30 17:19] #229 closed

[2017-01-30 17:37] rogerjdeangelis opened #270 "With 4k bufsize and a rowlength a little over 2048 bytes causes this write_sas to hang?"
With 4k bufsize and a rowlength a little over 2048 bytes causes this write_sas to hang?

This works
have<-have[1,1:200];

This hangs
have<-have[1,1:261]

I think you need to fix the the offset (around byte 35 chahe 2 to 3 - see my first post
None of Matt Shotwell's sample SAS datasets use the offset haven uses

%utl_submit_r64('
source("C:/Program Files/R/R-3.3.2/etc/Rprofile.site", echo=T);

Repr

[2017-01-30 19:25] rogerjdeangelis commented on #268
This is my first time with tempfile, was not sure how to avoid unzipping to desktop folder
Works fine without the 'catalog_file'

[code]

R LOG
Error in df_parse_sas_file(spec_data, spec_cat, encoding = encoding) :
  Failed to parse d:/sd1/simple64bit.sas7bcat: Unable to read from file.
Calls: read_sas -> df_parse_sas_file -> .Call
Execution halted

Just to show the format catalog is valid

proc f

[2017-01-30 19:50] evanmiller commented on #234
`sas_df2` is a divide-by-zero crash:

[code]

All issues appear to be related to rows not fitting into the default (and, currently, only possible) page size of 4096 bytes. Per #270 it looks like rows longer than 2048 bytes cause a hang, and rows longer than 4096 bytes cause a crash.

[2017-01-30 21:09] evanmiller commented on #244
@hadley I would prefer to keep this issue open (or transfer it to ReadStat) as it is a legitimate bug likely affecting users working with Chinese language data sets.

[2017-01-30 21:10] evanmiller commented on #234
@hadley Should be "fixed" (return error instead of crash/hang) by https://github.com/WizardMac/ReadStat/commit/7d9d58097a23575bb9bfbed5286454080f2f6977

[2017-01-30 21:12] evanmiller commented on #270
@hadley Should be "fixed" by https://github.com/WizardMac/ReadStat/commit/7d9d58097a23575bb9bfbed5286454080f2f6977

[2017-01-30 21:21] hadley commented on #248
Initial benchmarks look pretty promising:

[code]

It looks like there's around a second of overhead, but filtering down to only the variable you're interested in makes things a lot faster.

The R interface will take some thinking about so I'll probably leave until the next release of haven.

[2017-01-30 22:27] hadley commented on #244
@evanmiller sure - I'm probably overly aggressive about closing issues without reprexes

[2017-01-31 01:19] rogerjdeangelis commented on #270
Thanks Evan

Will Check

On Mon, Jan 30, 2017 at 4:12 PM, Evan Miller <notifications@github.com>
wrote:

[2017-01-31 13:12] hadley commented on #270
Confirmed that this now gives an error message.

@rogerjdeangelis can you please use `tempfile()` when writing to disk? Most of us do not have a D: drive

[2017-01-31 13:12] #270 closed

[2017-01-31 13:14] #234 closed

[2017-01-31 14:29] wds15 commented on #267
Ok. After discussing with Dirk from Rcpp we figured that enabling C++11 fixes the Rcpp issue. But now a problem in a file from haven is triggered. So compiling with Intel in C++11 mode results in this abort in haven file:

[code]

Any idea? Thanks.

[2017-01-31 14:46] hadley commented on #267
No, sorry.

[2017-01-31 14:58] rogerjdeangelis opened #271 "read_sas fails when catalog_file is specified"
[code]
I am a R newbe sorry about tempfile issue.

Log
Error in df_parse_sas_file(spec_data, spec_cat, encoding = encoding) :
  Failed to parse C:/Users/beast/AppData/Local/Temp/RtmpIzZteT/simple64bit.sas7bcat: Unable to read from file.
Calls: read_sas -> df_parse_sas_file -> .Call
Execution halted

[2017-01-31 15:23] rogerjdeangelis opened #272 "Latest github(1/31/2017) haven still fails with row lengths approx 2048 bytes"
Thanks for working on my issue!!

Latest github haven still fails with row lengths approx 2048 bytes

[code]

I did get this 'note' when installing the latest haven
DfReader.cpp:471:5: warning: 'dir' may be used uninitialized in this function [-
Wmaybe-uninitialized]
     file_.seekg(offset, dir);
     ^

Stderr output:
Error in write_sas_(data, normalizePath(path, mustWork = FALSE)) :
  Writing f

[2017-02-01 15:23] evanmiller commented on #164
The second request (selective column import) is a duplicate of #248 -- please track progress over there.

[2017-02-01 15:45] evanmiller commented on #271
Fixed in https://github.com/WizardMac/ReadStat/commit/3ef4388c572968e882cddb1d556d1f5b3e44ea2e

[2017-02-01 16:10] rogerjdeangelis commented on #271
Thanks Evan

On Wed, Feb 1, 2017 at 10:45 AM, Evan Miller <notifications@github.com>
wrote:

[2017-02-07 14:26] BobMuenchen opened #273 "zap_labels does not replace labels with missing values"
Here's an example from the labelled() help file. The zap_labels() example is not replacing the labels with missing values as the comment says it will.

[code]

[2017-02-07 18:05] sjPlot commented on #273
I would say that the example is outdates, since the description in `?haven::zap_labels()` is different and in line with what the function actually does. However, `sjmisc::zap_labels()` converts labelled values to NA.

[2017-02-07 18:07] jandraor opened #274 "Cannot read .sav file because of insufficient RAM"
Hello everyone,

I'm doing research on education in Colombia. I'm analysing the cost of teachers' payroll. I received a file of more than 80 million rows which contains payments from 2007 to 2015. Such a file is .sav and tried to read with Haven's function "read_spss.". However, I got the following error: **cannot allocate vector of size 658.8 Mb.** I assume this happened due to my pc has no enoug

[2017-02-08 13:54] BobMuenchen commented on #273
Thanks for the comparison. I hadn't noticed that there were two versions of
zap_labels.

On Tue, Feb 7, 2017 at 1:05 PM, Daniel Lüdecke <notifications@github.com>
wrote:

--

==================================================
  Bob Muenchen (pronounced MINchen)
  Accredited Professional Statistician™
  Manager, Research Computing Support, U of TN
  Voice: (865) 974-5230
  Email: muenchen@utk.edu

[2017-02-09 15:39] rogerjdeangelis commented on #271
Hi Evan

Thanks for the update!!

I tried to download the fix but it looks like R would not upgrade the previous package. So I could not get it to work

Skipping install of 'haven' from a github remote, the SHA1 (330c8731) has not ch
anged since last install.
  Use `force = TRUE` to force installation

I still get this error wheb running the previous accepted R script?

Error in df_parse_sas_file(

[2017-02-10 14:17] jc2445 commented on #28
Hi, so how can this error labelled thing be solved? I try to subset non-missing rows of the imported spss data, but cannot use !is.na or omit.na[].

[2017-02-10 18:06] Kenkleinman commented on #242
I have the same issue.  Not sure when it arose... I don't do this often.  I also use win7 64, but have R 3.3.2.

[2017-02-13 15:40] hadley commented on #274
Can you please provide a minimal reprex (reproducible example)? The goal of a reprex is to make it as easy as possible for me to recreate your problem so that I can fix it: please [help me help you](https://nypdecider.files.wordpress.com/2014/08/help-me-help-you.gif)!

If you've never heard of a reprex before, start by reading "[What is a reprex](https://github.com/jennybc/reprex#what-is-a-reprex)

[2017-02-13 15:41] #273 closed

[2017-02-13 15:43] #271 closed

[2017-02-13 15:44] hadley commented on #271
@rogerjdeangelis  Try now - I need to update readstat before you can try haven.

Your reprex would be simpler if you didn't zip the files.

[2017-02-13 15:46] hadley commented on #268
Can you please continue to tweak the reprex so it's easier for me to run it? (I don't have a d drive). I think you'll find it easier if you don't zip the files.

[2017-02-13 16:02] rogerjdeangelis commented on #271
Your work is appreciated!!!

Tried to simplify the unit test

[code]

LOG

Stderr output:
trying URL 'https://dl.dropboxusercontent.com/u/15716238/class.sas7bdat'
Content type 'application/octet-stream' length 131072 bytes (128 KB)
==================================================
downloaded 128 KB

trying URL 'https://dl.dropboxusercontent.com/u/15716238/simple64bit.zip'
Content type 'applicatio

[2017-02-13 16:28] hadley commented on #271
That doesn't work because the file on dropbox still looks like it's zipped.

You might also try using the reprex package, because it makes creating these reprexes easier.

[2017-02-13 17:45] rogerjdeangelis commented on #271
Typo in previous post

changed
https://dl.dropboxusercontent.com/u/15716238/simple64bit.zip
to
https://dl.dropboxusercontent.com/u/15716238/simple64bit.sas7bcat

As a side not 32bit and 64bit format catalogs are very different.
I suggest you wotk on 64bit first

[code]

[2017-02-13 19:28] hadley commented on #271
That works for me. Have you installed the latest haven from github?

[2017-02-14 21:57] sjPlot opened #275 "Read (and write?) measurement scale attribute"
In SPSS (maybe in other packages as well), you can edit the measurement scale of variables, e.g. if a variable is discrete, ordinal or continuous. ReadStat supports these attributes with `readstat_variable_get_measure` and `readstat_variable_set_measure`. Would it be possible to read out these attributes and add them to the labelled vectors as additional attribute?

By this, you could, e.g. write

[2017-02-15 15:53] rpruim opened #276 "labelled class should inherit from standard classes"
If the labelled class inherited from some other standard class then it would be caught by method dispatch.

Example (using `mosaic::prop.test()`)

[code]

[2017-02-22 08:37] Keniajin commented on #223
realised the same issue with `read_dta()`

[2017-02-28 13:59] DavisBrian opened #277 "File generated by write_sas cannot be opened by SAS."
MWE

[code]

However, when I go to SAS (9.3) and try to read it in

[2017-03-06 16:32] skhan8 commented on #277
I'm getting the exact same problem as @DavisBrian. Am able to read (read_sas) in any write_sas outputs but SAS cannot open any of my write_sas outputs.

[2017-03-07 14:15] AnnePetersen1 opened #278 "labelled class is lost when using na.omit"
I just noticed a weird phenomenon when using variables of class `labelled`. If I apply `na.omit()` to a `labelled` variable, it somehow loses its class information, as opposed to factor variables.  Specifically, I find e.g.
[code]

Maybe there is a clever reason why it should behave like this, but personally, I was a bit surprised, as I use `na.omit()` routinely and was getting strange results.

I

[2017-03-09 12:13] eivindhammers commented on #223
@Keniajin +1

[2017-03-13 07:45] Henri70 commented on #277
Exactly same problem here !

[2017-03-14 21:13] m-sostero opened #279 "Missing values in Stata .dta files parsed as NaN"
Missing observations in numeric variables in Stata (denoted by `.`) are parsed as `NaN` (not `NA`) by haven.

Steps to reproduce:

Create a dummy data set in Stata (13):
[code]

Saved as .dta file format 117.
The variable is of type `float`;  the code for missing observation (`.`) should be `(+1.000000X+7f)` per [dta file format specs](http://www.stata.com/help.cgi?dta_117)

Import in R:

[code]

[2017-03-14 21:18] m-sostero commented on #279
Also, Stata has different semantics for missing values in string variables. They are effectively zero-length strings. Maybe haven should treat zero-length strings as `NA` when importing data?

[2017-03-21 11:18] 2YC commented on #34
@evanmiller
I use the devtools to install but still encounter the same problem

  Failed to parse /home/s/Documents/health/2005.sas7bdat: File has an unsupported character set.

[2017-03-21 13:20] evanmiller commented on #34
@2YC Can you share the sas7bdat file that you're working with?

[2017-03-30 10:18] GeoBer opened #280 "Failure to install package "haven""
Message when compiling:

[code]

Fails also when attempting to install using all of tidyverse.  I need "haven" to read and write sas datasets. Any suggestions on how to fix the problem?

[2017-03-31 09:31] filipwastberg opened #281 "write_sas() crashes R"
I'm trying to download spss (.sav) data and writing it as a .sas7bdat file. However, running the following code results in R crashing:
[code]

I suspect that it has something to do with the data labels often included in spss/sas-format? Running write_sas() on a data frame imported from e.g. a .txt file with a large number of columns does not cause the same problem.

Furthermore, I am able to write

[2017-04-03 08:23] #281 closed

[2017-04-05 11:57] lucasmation opened #282 "write_dta error when strings cotain latin characters (ex: "ã")"
reproducible example:

[code]

[2017-04-08 21:52] g3o2 commented on #279
String missing to NA would not be a major issue, however, numeric missing to NaN is a huge issue.

[2017-04-10 06:22] rishabasthana5144 commented on #4
I am facing the same problem. When i am reading the SPSS file, one of its attribute is getting read as in its atomic structure with value labels and not the usual factor type for categorical variable.

Any suggestions to solve this please.

[2017-04-10 12:26] hadley commented on #4
@rishabasthana5144 file a new issue with a reproducible example created by the reprex package

[2017-04-11 05:41] avallecam opened #283 "write_dta error after labelled integers"
Should I be able to export labelled integers to `.dta` files?
here's a reprex:
[code]

[2017-04-11 15:40] avallecam commented on #283
Closed it because this may not be a `write_data` issue, but a stata standard requirement.

[2017-04-12 10:42] leeper opened #284 "Encoding-related error in read_por()"
Using haven v1.0.0, I get the following error reading an SPSS portable (.por) file ([file source](http://www.europeansocialsurvey.org/download.html?file=ESS7GB&c=GB&y=2014&loggedin)):

[code]

Here's the `traceback()`:

[code]

[2017-04-18 17:45] mbojan commented on #248
I'd love to be able to select specific columns by name with `read_spss`! A public example of the *type* of files I work with is "Social Diagnosis" survey (http://www.diagnoza.com/). There are two files for download:

- household data (26766x2499) http://www.diagnoza.com/data/database/2000_2015/SOCIAL_DIAGNOSIS_H_2000_2015_SAV.zip
- individual data (84478x3755) http://www.diagnoza.com/data/database

[2017-04-18 22:09] rogerjdeangelis commented on #248
Not sure this helps, but I move large matrices of floats from SAS to R very
quickly. However
my Dell T7400 has 64gb ram.

Here I eport 40,000,000 SAS floats in 0.22 seconds

Exporting 40,000,000 SAS doubles to R in 0.22 seconds

* write out 40,000,000 SAS floats back to back into d:/bin/binmat.bin

filename bin "d:/bin/binmat.bin" lrecl=32000 recfm=f;
data _null_;
  file bin ;
  do i=1 to 40000000

[2017-04-20 19:57] 13bzhang commented on #284
I have a similar issue but the ' sign.

[code]
Here's the traceback():

[code]

[2017-04-24 06:49] gitrman opened #285 "SPSS fails to read value labels for ordered factors"
SPSS is unable to read value labels for ordered factors -- whereas unordered factors are fine.

A minimal example:

[code]

Here is a screenshot of the SPSS **Data View** tab after I open the file in SPSS:

![data_view](https://cloud.githubusercontent.com/assets/18112792/25324684/b20d3794-28f9-11e7-81d5-fcd82f1ca7c6.png)

`v1` and `v2` should look identical - however for `v2` the numeric values ra

[2017-04-24 07:02] DominikMueller64 opened #286 "Installation error if PKG_CXXFLAGS = -std=c++14"
If I have in my ~/.R/Makevars file the line `PKG_CXXFLAGS = -std=c++14`,  I get the following error when trying to install haven:

`g++ -I/usr/share/R/include -DNDEBUG  -I"/home/domi89/R/x86_64-pc-linux-gnu-library/3.4/Rcpp/include" -I"/home/domi89/R/x86_64-pc-linux-gnu-library/3.4/BH/incl
ude"   -std=c++14 -fpic  -Wall -O2 -c DfReader.cpp -o DfReader.o
DfReader.cpp:7:22: fatal error: readstat.h:

[2017-04-28 23:12] otoomet opened #287 "Unhelpful error message with write_dta(NULL)"
```haven::write_dta(NULL, path="d.dat")```
gives
[code]
this is confusing and does not help in debugging.  An error message along the lines "Error in haven::write_dta: 'data' must be a data.frame, not NULL" would help to find the problem more easily.

Thanks for haven :-)

[2017-05-02 21:19] kendonB opened #288 "Read categorical variable as character in read_dta?"
This is close to the default behavior of the ``foreign`` package, which uses factors. See, for example:

[code]

[2017-05-10 11:18] AmyMikhail opened #289 "read_dta fails to convert missing values encoded as '.' in STATA to NA"
Not sure how to show this with a MWE, but when a STATA file contains missing values encoded as '.' in string vectors, read_dta does not convert them to NA (they remain as the character string ".").

`zap_missing(x)` also does not correct the problem (I assume since they were not 'tagged' as missing in the first place).

Should read_dta include an argument to specify encoding of missing values on i

[2017-05-10 15:37] realitix commented on #224
Hello @hadley, do you have some news about this issue ?

[2017-05-24 14:36] jeroen commented on #285
I ran into the same problem when trying to roundtrip the `diamonds` dataset:

[code]

[2017-05-25 00:08] #285 closed

[2017-05-26 04:14] tomhopper commented on #223
@Keniajin +1

`unloadNamespace("haven")
devtools::dev_mode(on = TRUE)
devtools::install_version("haven", version = "0.2.0", repos = "http://cran.us.r-project.org")
library(haven)
packageVersion("haven")
# returns '0.2.0'
states_df <- read_dta(path = "dataSets/states.dta")
states_df
# Shows NA in row 9 and elsewhere that should be NA
devtools::dev_mode(on = FALSE)
unloadNamespace("haven")

library(

[2017-05-26 17:10] jeroen opened #290 "Auto coerce SPSS 'nominal' and 'ordinal' variables to factors"
Currently `write_sav` does use the measure attribute for saving, but ignores it for reading:

[code]
It would make sense if `read_sav` would have an option to automatically coerce `SAV_MEASURE_NOMINAL` and `SAV_MEASURE_ORDINAL` variables into factors and ordered factors respectively.

I think this option should be TRUE by default (opt-out). Variables explicitly marked as normal / ordinal in the da

[2017-05-27 13:51] sjPlot commented on #290
Could be related to #275

[2017-06-12 19:11] d4ff opened #291 "read_spss: When a missing value is not defined as a value label"
Hi,

Consider a .sav file with several numeric variables where -77 is defined as a missing value, but not as a value label. You would get the following result when trying to index one of them:

[code]

I'm sure there are plenty of ways to fix it, but I'm looking for a solution that doesn't require operations outside of R, and is faster than a loop. Running user_na=FALSE will avoid the issue, but I

[2017-06-13 09:37] d4ff opened #292 "write_sav: Crash if value label contains more than 127 characters"
Related to #262

The conversation in 262 tells me that long labels are truncated to 120 characters. I can confirm that this is the case for me when the number of characters in the troublesome value label is between 121 and 127. However, when the label is 128 characters or longer, the system crashes. Tested in Rstudio and Sublime REPL.

Label was originally 148 characters long. write_sav worked whe

[2017-06-13 11:20] evanmiller commented on #292
Can you provide a sample script?

[2017-06-13 11:57] d4ff commented on #292
[code]
crash:

[code]

no crash:

[code]
crash:

[code]

[2017-06-13 13:01] evanmiller commented on #292
What version of haven are you using? This may have been fixed in https://github.com/tidyverse/haven/commit/d8b1f711e787b941757898a66310e1cfe79905b2

[2017-06-14 05:51] d4ff commented on #292
[code]

Downloaded the package last week so I'm assuming I have the latest version? CRAN is not suggesting any updates.

[2017-06-14 11:42] evanmiller commented on #292
Please try the development version

[code]

[2017-06-17 16:29] lgragert commented on #280
I am having this same issue installing in R 3.3.1 on Linux.

[2017-06-25 06:28] jtchittenden opened #293 "'Peek' functionality to return a 0 (or some small number) row data frame with column data."
Not an bug, but an enhancement request.

Sometimes I don't want all the rows in the file.  Usually it's that the file is very large and I want to try things out on a subset, rather than load the entire file.  Or I just want to put together some metadata for the columns in the file (e.g. name and type).  I modified Matthew Shotwell's sas7bdat code to do this, but haven has become much more stable t

[2017-06-25 06:39] jtchittenden opened #294 "Filtering data as it loads in read_sas"
I would like to hand read_sas an expression that it could use to filter out rows I don't want before trying to return a gigantic object. For instance, if I have a 120Gb file but only need 1% of that which I could filter out, it would be great if that could happen while the file loads.  Something like this: haven::read_sas("file.sas7bdat", filter=SITEID=='097' & VISIT=='SCREENING').  I recognize th

[2017-06-26 19:52] michaelwhammer opened #295 "write_sav writes generic variable name instead of actual variable name"
For some columns write_sav writes a generic variable name (V1, V2, ...) instead of the actual variable names for some variables in a data set I am working with.

Additionally (and I can make this a separate issue) I've noticed that the created .sav file is often "bloated" -
 the file size is abnormally large. If I simply open the file and do nothing but a "Save As" within SPSS the file size will s

[2017-06-27 09:53] strengejacke commented on #291
I'm not quite sure what you would like to achieve: is it a working print-method for your data? You could remove the labelled-class, which would not remove the attributes. This can be done with `unlabel()` from the *sjlabelled*-pkg:

`sjlabelled::unlabel()`

I have tested this on a SPSS-dataset:

[code]

[2017-06-30 04:09] vate01 opened #296 "Possible problem with labelled_spss?"
Hello!

I'm using the labelled_spss function but it seems that this just work when I load the expss package.

Without loading expss:
[code]
And loading it previously:
[code]
Is this a feature?

Thanks!

Edited:

Version of packages:

Machine info:

and R info:

R.version
               _

[2017-06-30 16:06] rogerjdeangelis commented on #268
We are all pulling for you with read/write/format interfaces to/from SAS/WPS/Stattransfer and Carolina

I simplified the reprex, eliminating the zip files, see error in log below.

* not sure you will be able to access the dropbox file.
 They are in my public folder but I am runny from workstation
 that has access to the local dropbox file.

It worked for me.

%utl_submit_r64('
source("c:/Program

[2017-07-01 07:07] borisma commented on #223
Hello! I would like to ask when the `haven` CRAN version will be updated? We are using `haven` for introductory psychology stats and first year students do not usually install from github. We can't use `haven` properly as long as the CRAN version imports missings as `NaN`. Thanks!

[2017-07-06 08:34] HanjoStudy opened #297 "new function suggestion: get_var_labels"
I find a constantly need to extract and work with the labels of a `.sav` file after I have read in the file using `read_sav`. The difficulty is extracting and relabeling the `label` attribute.

Currently I use the following function from this [thread](https://stackoverflow.com/questions/10181730/information-from-label-attribute-in-r-to-variable-labels-in-spss):

[code]
It would be handy if this fu

[2017-07-06 09:20] larmarange commented on #297
If needed, the `labelled` package (https://cran.r-project.org/package=labelled) provides dedicated functions to manipulate labelled vectors.

[2017-07-06 10:00] HanjoStudy commented on #297
Thanks, this is the type of functionality that I was looking for!

[2017-07-06 10:00] #297 closed

[2017-07-07 15:41] hadley commented on #223
I'll add a release to my to do list. Looking at the news, I think it should be straightforward so will hopefully happen next week.

[2017-07-07 17:22] #274 closed

[2017-07-07 17:25] hadley commented on #289
I'm pretty sure `.` is not a missing string value in stata. The missing value for string is the empty string. See e.g. http://www.stata.com/statalist/archive/2012-09/msg00105.html

[2017-07-07 17:25] #289 closed

[2017-07-07 17:25] hadley commented on #275
This seems like a good idea, but unfortunately it's not high enough on my priority list that I will implement it myself. However, I'd be happy to review a PR.

[2017-07-07 17:25] #275 closed

[2017-07-07 17:27] hadley commented on #276
But labelled doesn't inherit from another standard class. Like `class(factor("x"))` is `factor`

[2017-07-07 17:27] #276 closed

[2017-07-07 17:29] hadley commented on #278
Works for me:

[code]

Might be fixed in dev version.

[2017-07-07 17:29] #278 closed

[2017-07-07 17:30] hadley commented on #279
Duplicate of #223, which has been fixed.

[2017-07-07 17:30] #279 closed

[2017-07-07 17:31] hadley commented on #280
See https://github.com/RcppCore/Rcpp/issues/640 - I think you need to update Rcpp

[2017-07-07 17:31] #280 closed

[2017-07-07 17:33] hadley commented on #282
This works for me, and I'm pretty sure we fixed in the dev version.

[2017-07-07 17:33] #282 closed

[2017-07-07 17:35] hadley commented on #283
Hmisc clearly uses a different labelling system than haven. So this doesn't work, sorry.

[2017-07-07 17:35] #283 closed

[2017-07-07 17:36] hadley commented on #284
Can you please make a reprex with a file that I can get more easily?

[2017-07-07 17:36] hadley commented on #286
I'm not sure why you think this should work. You can add arbitrary extra compilation flags to a package.

[2017-07-07 17:36] #286 closed

[2017-07-07 17:39] #287 closed

[2017-07-07 17:40] hadley commented on #288
You need to coerce yourself with `as_factor()

[2017-07-07 17:40] #288 closed

[2017-07-07 17:41] hadley commented on #291
You can also use `haven::zap_labels()`

[2017-07-07 17:41] #291 closed

[2017-07-07 17:41] #292 closed

[2017-07-07 17:41] evanmiller commented on #284
@hadley this issue is probably fixed here: https://github.com/WizardMac/ReadStat/commit/3576e868a08e1c0b3294abfce5989396d2b2b852

[2017-07-07 17:42] hadley commented on #293
Part of #194

[2017-07-07 17:42] #293 closed

[2017-07-07 17:42] hadley commented on #294
Part of #194

[2017-07-07 17:42] #294 closed

[2017-07-07 17:44] hadley commented on #295
I don't see any problems - when I compare `names(haven::read_sav(out_file))` to `names(my_data_df1)` I don't see any differences (except for one very long name that gets truncated)

[2017-07-07 17:44] #295 closed

[2017-07-07 17:45] hadley commented on #296
The expss package must provide a method for table or similar.

[2017-07-07 17:45] #296 closed

[2017-07-07 17:49] hadley commented on #284
Ok great. In that case, @leeper can you please try again with the dev version of haven?

[2017-07-08 14:22] evanmiller commented on #268
This example does not have any parse errors when using the development version of haven.

[code]

Not sure how value labels work with haven, but `<chr+lbl>` indicates to me that they're being applied.

@hadley I think it's safe to close this issue.

@rogerjdeangelis In the future please spend time formatting your comments using Markdown, as they are difficult for us to read. This guide should help

[2017-07-08 14:29] evanmiller commented on #269
ReadStat supports Stata 14 format as well as strings up to 2045 bytes. If there's an issue with haven here, please provide a reproducible example.

[2017-07-08 14:48] evanmiller commented on #277
Duplicate of #224

[2017-07-08 15:31] evanmiller commented on #272
Should be fixed in https://github.com/WizardMac/ReadStat/commit/046cadde5886e8bcecb9511153ccc6e61bb00194

[2017-07-08 15:52] hadley commented on #284
I've confirmed that this no longer crashes in the dev version, so was fixed by the ReadStat update.

[2017-07-08 15:52] #284 closed

[2017-07-08 15:59] #268 closed

[2017-07-08 18:37] evanmiller commented on #266
Should be fixed in https://github.com/WizardMac/ReadStat/commit/f6aef4c9db5e50be7f8e22bb52776d7c6074baa2

[2017-07-09 01:57] rogerjdeangelis commented on #268
I could not figure out how to force the comment to use a monospace font. I hope this is better.

    Thanks Hadley for your efforts. I provided more detail below. Let me know if there is anything I cando
    to help, I am somewhat familiar with the binary representation of format catalogs and
    SAS/WPS/Stattransfer datasets.

[Input dataset CLASS

Up to 40 obs from CLASS total obs=19

Obs    NAM

[2017-07-10 09:15] leeper commented on #284
Yes, working for me with 1.1.0 (from CRAN). Thanks!

[2017-07-10 14:57] rubenarslan commented on #266
Great. Can I test with my real example already or do I need to wait until this is pulled into haven?

[2017-07-10 15:41] evanmiller commented on #266
I think this fix just barely missed the 1.1.0 cutoff, so you'll have to wait until it gets pulled into haven.

[2017-07-11 20:15] drgmerchant commented on #28
I am having this issue as well, and the only way I can fix it is by not invoking tidyverse. I don't understand the labelling issue - is this an attribute of some of my data's vectors?

[2017-07-11 20:23] hadley commented on #28
If you need help, please file an minimum reproducible issue. Commenting on closed issues is not usually a fruitful approach.

[2017-07-11 20:28] drgmerchant commented on #28
Yes, I agree. I'm new to posting here and asking questions. It's a long dataset with lot's of variables that is an .RData file I've created in other scripts from .csv files. I will try to re-create the problem generating some sample data that is similar.

[2017-07-14 18:11] connorp opened #298 "Automatic file uncompression only works with lower case file extensions"
Per the documentation, haven's read functions can automatically uncompress "Files ending in `.gz`, `.bz2`, `.xz`, or `.zip`." However, if the file extensions are not all lower case, the process fails, since the function tries to read it like a data file. I imagine it would be a simple fix for the check that determines whether the file needs to be uncompressed be case insensitive.

I have tested th

[2017-07-16 18:36] mfansler opened #299 "undefined symbol: libiconv"
## Problem

**Ran:** `install.packages("tidyverse")`

**Result:** **haven** compiles, but during the step to test package loading it yields

    ...
     ** testing if installed package can be loaded
     Error in dyn.load(file, DLLpath = DLLpath, ...) :
       unable to load shared object '/home/username/.local/lib/R-3.3.3/haven/libs/haven.so':
       /home/username/.local/lib/R-3.3.3/haven/libs/

[2017-07-18 21:10] mnarasimhan02 commented on #224
I have the same issue. I can create a data frame from  csv and write it to sas7bdat, however I can't open them in SAS viewer and results in error. I can see the file size has increased(i.e data is written within the file)

Steps to reproduce:
# Convert attached test.CSV to data frame

test <- read.csv("test.csv")

# test.csv contain 5 obs
library("haven");
write_sas(test, "one.sas7bdat");

[2017-07-18 23:42] mfansler commented on #299
After building from source and inspecting the shared object

        linux-vdso.so.1 =>  (0x00007fff03ce4000)
        libstdc++.so.6 => /lib64/libstdc++.so.6 (0x00002b09d32f8000)
        libm.so.6 => /lib64/libm.so.6 (0x00002b09d3601000)
        libgcc_s.so.1 => /lib64/libgcc_s.so.1 (0x00002b09d3903000)
        libc.so.6 => /lib64/libc.so.6 (0x00002b09d3b19000)
        /lib64/ld-linux-x86-64.so.2

[2017-07-21 21:29] mfansler commented on #299
Personally, I have this issue resolved, and it appears that it is a very atypically situation, so I'm closing this thread.

If it comes up for others, adding `PKG_LIBS=-liconv` to the **src/Makevars** file will explicitly tell the linker to include `libiconv` and allow for successful installation from source.

[2017-07-21 21:29] #299 closed

[2017-07-27 08:34] rubenarslan opened #301 "max_level_lengths can't deal with missings in levels"
If there is an NA in a factor level, haven will fail to write because of the following error.

[code]

I this can easily be fixed by changing

`max(nchar(levels(x)))` to
`max(nchar(levels(x)), na.rm = TRUE)`

in `haven:::max_level_lengths`

[2017-07-27 18:12] lucasmation commented on #282
@hadley,

I don´t think the dev version fixed that, as show bellow. Please reopen.

[code]

[2017-07-27 19:48] hadley commented on #282
Please open a new issue, running the code with reprex, and including the session info.

[2017-07-31 12:57] huftis commented on #258
I can confirm that this bug is still present in the latest version of `haven` (1.1.0) on Windows, and it makes it impossible to write SPSS-files with non-ASCII characters. Here’s a reprex:

[code]

<details>
Session info -----------------------------------
 setting  value
 version  R version 3.4.0 (2017-04-21)
 system   x86_64, mingw32
 ui       RStudio (1.0.143)
 language (EN)
 collate  Norwegian

[2017-07-31 13:46] borisma commented on #223
Thanks very much!

[2017-07-31 14:14] huftis opened #302 "write_sav() sometimes writes invalid SPSS files for UTF-8 encoded strings (on Windows)"
When a tibble contains an UTF-8 encoded string, `write_sav()` *sometimes* generates invalid SPSS files (on Windows, and under a latin1 locale). I have finally managed to reduce the problem a *relatively* simple, and reproducible, example:

[code]

When I open the `utf-d1.sav` file in SPSS, everything is fine. When I try to open the `utf-d2.sav` file in SPSS (version 24), I get following error mess

[2017-07-31 14:27] huftis commented on #290
This sounds like a nice feature, but I don’t think it should be enabled *by default*, as it leads to data loss (factors don’t keep their original values/codes, but are internally reencoded to `1:n`).

[2017-07-31 14:51] huftis commented on #258
Note that *even* when `write_sav()` apparently succeeds (i.e. there is no error message), the resulting file may not contain the correct data (example: `write_sav(tibble(x="øø"), "test.sav")` – the `x` variable has the string `ø`, not `øø` when opened in SPSS).

I think an easy way to fix this is (or a work-around, for people having this problem), it to reencode all strings to UTF-8 before saving

[2017-08-04 23:02] CarlosDutra opened #303 "Error in df_parse_sas_raw: long vectors not supported yet"
I'm getting an error when I try to import data from a SAS dataset. Below is the log:

[code]

[2017-08-06 16:18] ajdamico opened #304 "invalid byte sequence error on unix, but works on windows"
library(haven)
	tf <- tempfile()
	download.file( 'http://assets.pewresearch.org/wp-content/uploads/sites/2/2009/09/Pew-GAP-Fall-2009-BW-survey-for-website.zip' , tf , mode = 'wb' )
	w <- unzip( tf , exdir = tempdir() )
	this_file <- grep( "\\.sav" , w , value = TRUE )

	# works on windows, fails on unix
	x <- read_sav( this_file )

	# Error in df_parse_sav_file(spec, user_na) :
	  # Failed to pars

[2017-08-06 18:07] evanmiller commented on #304
Thanks for the report, I am able to reproduce it on UNIX. The invalid character `0x9d` appears in a value label, between:

    KDH (Kres

and

    ansko-demokratické hnutie)

How does Windows decode that character? Wikipedia indicates the string should be

    Kresťanskodemokratické hnutie

I.e. the troublesome character is a [voiceless palatal stop](https://en.wikipedia.org/wiki/Ť). I'm not sure

[2017-08-06 18:20] evanmiller commented on #304
Update: The character `ť` is encoded as `0x9d` in the Windows-1250 character set:

https://en.wikipedia.org/wiki/Windows-1250

The SPSS dataset is clearly labeled Windows-1252, however. It's possible that Windows silently uses Windows-1250 codes when it encounters an undefined code in Windows-1252 -- so I'd still like to know if this string is correctly decoded on Windows.

[2017-08-06 20:07] evanmiller opened #305 "[Feature Request] Add "encoding" option to SAV parser"
Right now Stata and SAS parsers support an `encoding` option. The SAV parser does not. It's usually not necessarily since SAV includes the character encoding; however, being able to override the detected encoding would assist in debugging and working around potentially malformed files, e.g. #304.

[2017-08-08 06:28] rdenham opened #306 "read_sas includes deleted records"
This might be a result of poor sas coding, but I got caught out reading in a sas data set after doing a proc sql delete step. The deleted records don't seem to be actually removed, or flagged in anyway in the r data.frame. Here's an example:

    data mywork.rcheck;
    input x1 x2;
    cards;
    1 1
    2 2
    3 3
    4 4
    5 5
    ;
    run;

This reads in fine:

    # A tibble: 5 x 2

[2017-08-08 17:52] lao8n commented on #248
Can you do something similar for haven's read_dta please? I have serious memory constraints.

[2017-08-11 00:17] allitnils opened #307 "haven does not support SPSS compressed (zcompressed) format file (zsav)"
this was opened in March 2016, and i was wondering if there has been any development?
https://github.com/tidyverse/haven/issues/153
i'm still unable to open zsav files in R. does anyone know of any plugins available, or if this is in the roadmap of haven?
Is it planned to extend abilities of haven to be able to read zsav SPSS file?

[2017-08-13 23:48] allitnils commented on #307
@evanmiller
@rstudio
@hadley
@jimhester
could someone advise/comment on the possibility of this being implemented?

[2017-08-14 00:10] hadley commented on #307
There has not been any development. If there was it would be reported in the original issue.  Bugging us with notifications is unlikely to help.

[2017-08-14 00:10] #307 closed

[2017-08-14 00:23] allitnils commented on #307
@hadley , sorry to hear you're feeling like i'm bugging you with notifications, and that your interest to help is defined by who you feel is bugging you, and who isn't?
the original request was raised 18 months ago, which is why I thought it wouldn't be out of place to ask about a status of this.

[2017-08-14 13:01] jimhester commented on #153
`zsav` seems to be simply a gzip compressed `sav` file. So you should be able to open it without any code changes by simply using `base::gzfile()` in combination with `haven::read_sav()`. For example

[code]

[2017-08-14 13:12] evanmiller commented on #153
@jimhester I don't think ZSAV is simply .sav.gz; see the PSPP documentation on Zlib compression here: https://www.gnu.org/software/pspp/pspp-dev/html_node/Data-Record.html#Data-Record

Relevant discussion here: http://pspp-users.gnu.narkive.com/IToYTzIz/zsav-format-support-zcompressed-subcommand

[2017-08-14 13:20] evanmiller commented on #307
@allitnils Thanks for your interest. For questions like this, the proper etiquette is to subscribe to, comment on, or +1 an existing issue, rather than opening a duplicate issue. By opening a new issue you are creating additional work for us and cluttering our issue tracker.

There has been no progress on ZSAV, primarily due to lack of user / customer interest. Any news about ZSAV support will fir

[2017-08-14 14:41] hadley commented on #307
@allitnils It's also very bad form to cc a bunch of random people that you think are involved.

[2017-08-16 18:13] jjchern opened #308 "Support zap_label and/or zap_everything"
Would you mind adding a function that strips variable labels? Something like `zap_label.R`:

[code]

And here're two tests (`test-zap-label.R`):

[code]

Sometimes I found that I wanted to zap everything to avoid certain warning messages (for example, messages generated from joining a tibble imported from `haven` and a regular data frame). With `zap_label()`, I can now run

[code]

Having a `zap_e

[2017-08-18 22:17] karldw opened #309 "write_dta fails with non-ascii in a tibble"
Writing non-ascii characters in a `tbl_df` fails, while in a normal `data.frame` it's fine.  The error message is "Writing failure: A provided string value was longer than the available storage size of the specified column."
[code]

[2017-08-22 17:47] jjsandoval commented on #280
You must do two thinks. First. Start by first figuring out your library location: Sys.getenv("R_LIBS_USER"). Second the 00LOCK file must been removed. For example in linux :
sudo rm -r 00LOCK-haven

[2017-08-24 13:21] steveniorfa opened #310 "Issues with Haven"
I keep getting this error message after I successfully download the haven package and its dependencies. What do I do?
Warning in install.packages :
error 1 in extracting from zip file
Warning in install.packages :
cannot open compressed file 'BH/DESCRIPTION', probable reason 'No such file or directory'

[2017-08-25 12:31] samuelhuerga opened #311 "read_sav reads character empty columns as numeric"
In read_sav, if I try to read a character empty column (i.e, all values are empty string: ""), it is shown as a numeric column with values 6.01347e-154

[code]

[code]
In SPSS it appears correctly:
![image](https://user-images.githubusercontent.com/12885915/29714133-04cd19a0-89a2-11e7-82b3-39358b5c2d4e.png)
![image](https://user-images.githubusercontent.com/12885915/29714141-0ebabd14-89a2-11e7-90c

[2017-08-30 19:07] Kenkleinman commented on #224
Is there a solution to this issue yet?

[2017-08-31 13:42] cimentadaj commented on #34
Hi, I'm still encountering the same problem.

It's coming from a publicly available dataset from the PISA study.

Data can be downloaded from here: http://vs-web-fs-1.oecd.org/pisa/PUF_SAS_COMBINED_CMB_STU_QQQ.zip

The download can take some time (~ 5-10 mins) as the dataset is about ~ 2GB

[code]
I also tried changing the extension from `sas7bdat.format.sas` to `sas7bcat` and the result is the sa

[2017-09-06 13:43] antuki opened #312 "question about encoding in the catalog_file"
Hi,

I'm trying the very useful "read_sas" function to load results of a french survey.

read_sas(data_file, catalog_file = NULL, encoding = NULL,
  cols_only = NULL)

The "encoding" option works well when i want to change data_file encoding.
But it seems that the catalog_file i'm using has not the same encoding than my data_file and the encoding option does'nt seem to have an effect on catalog_fi

[2017-09-21 02:19] jetravis opened #313 "Xpt date handling"
read_xpt reads variables stored in date and datetime format as doubles.

http://rpubs.com/jetravis/haven_xpt_date_test

[2017-09-21 20:49] dennisfisher opened #314 "read_xpt not accessing variable labels"
I have two SAS outputs containing the identical data: one in sas7bdat format, the other in XPT format.
When I read them using haven (1.1.0) in either RStudio or in a terminal window (R 3.4.1, OS X), the variable labels can be accessed from the sas7bdat version but not from the XPT version.  According to the man pages:

     Variable labels are stored in the "label" attribute of each
     variable.

[2017-09-21 23:06] DJAnderson07 commented on #295
Sorry, I know this issue is closed, but If I understand correctly the issue was with the SPSS file that was written out. I was having this same issue and I believe it has to do with spaces in the variable names. For example, if I run

    project_reads <- readr::read_csv("https://data.jacksonms.gov/api/views/97iy-g8hk/rows.csv")
    haven::write_sav(project_reads, "project_reads.sav")

The resulti

[2017-09-22 18:27] salim-b opened #315 "support labelled logical vectors [feature request]"
I'd like to be able to create a labelled logical vector like this:

[code]

Right now this is not supported and gives the error message:
[code]

Of course one can always set the corresponding attributes "by hand" using:
[code]
Naive as I am  [I tried this in the past (unknowingly about the interplay between `dplyr` and `haven`)](https://github.com/tidyverse/dplyr/issues/3108).

Now because the `la

[2017-10-02 15:48] ecortens commented on #311
I'm seeing this same issue, in haven 1.1.0 from CRAN and haven 1.1.0.9000 on github (7f2b4796f76e44b88914e57c251318d9871055d1).

I tried installing haven 1.0.0 from CRAN, and the issue is still present.

However, it is not present in 0.2.1 from CRAN.

I'm seeing the issue in R 3.4.1 on both Windows 10 and MacOS 10.12.6.

[2017-10-04 12:13] xiaodaigh commented on #194
Really need this to finally ditch SAS completely!

[2017-10-06 09:14] evanmiller commented on #311
Should be fixed in https://github.com/WizardMac/ReadStat/commit/d0c922b136449347b0a5f86be450104efeb76381

[2017-10-06 09:16] evanmiller commented on #314
Hi @dennisfisher, if you can provide an example file I will take a look.

[2017-10-06 14:01] dennisfisher commented on #314
A colleague created these two files in SAS.
When I read them with haven:

SAS7BDAT file:
 data.frame(read_sas(dir()[3])) -> X

  [1] "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B"
 [19] "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B"
 [37] "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B" "B"
 [55] "B" "B" "B" "B" "B" "B" "B" "B" "

[2017-10-06 14:55] evanmiller commented on #314
@dennisfisher I need access to the file itself.

[2017-10-06 14:58] dennisfisher commented on #314
the files were attached to the previous email.  i have done so again.  if they are being stripped, i have uploaded them to:
	https://www.dropbox.com/sh/78auodmlq5dgpkp/AABYyujDmCncPdrOF7rXIdV6a?dl=0 <https://www.dropbox.com/sh/78auodmlq5dgpkp/AABYyujDmCncPdrOF7rXIdV6a?dl=0>

Dennis Fisher MD
P < (The "P Less Than" Company)
Phone / Fax: 1-866-PLessThan (1-866-753-7784)
www.PLessThan.com <http://www

[2017-10-06 15:14] evanmiller commented on #314
Thanks. ReadStat sees the labels okay so it is likely an issue in haven.

[2017-10-06 16:33] hadley commented on #310
It sounds like you're missing some depedency. I'd recommend restarting R and reinstalling haven + bh.

[2017-10-06 16:33] #310 closed

[2017-10-06 19:19] ecortens commented on #311
Thanks @evanmiller! I've just submitted PR #316 to haven, which incorporates the latest fix in ReadStat.

[2017-10-12 16:22] jeremiahsb opened #317 "Writing SPSS files does not correctly set nominal measure"
The company I work for uses SPSS extensively. There are data transformations which are considerably easier in R. So my setup is to read sav files into R, manipulate them, then save them back to sav files for other users. In doing this, I've noticed that the original sav file will have variables which are set to nominal in the measure attribute in SPSS are switched to scale when creating a new sav

[2017-10-15 00:19] michaelwhammer commented on #295
@DJAnderson07 thank you for noticing the spaces in variable names. This is likely why @hadley didn't find differences in variable names after exporting and re-importing the file I supplied - the issue is with SPSS being unable to work with variable names with spaces; `haven::write_sav` is working fine.
Looks like I'll be calling `make.names` before `haven::write_sav` to ensure this behavior doesn'

[2017-10-18 08:54] AnnePetersen1 opened #319 "read_sav produces error: "Evaluation error: object 'rlang_is_null' not found.""
I'm trying to read in some SPSS data (.sav) and I'm getting an error-message no matter what I do -  also when running the example from the documentation:
[code]

I have started with the CRAN version of `haven` and tried updating to the github version, but the problem persists. Here is my session info:
[code]

[2017-10-19 07:18] rensa commented on #280
FWIW, I had the same problem when I tried to install `tidyverse` on a remote machine. Turns out I was using the Intel C compiler version 12.1.9.293 (the default version of it that had been stuck in my Bash profile when my account was created). Switching out to version 17.0.1.132 using the `module` system installed on the machine did the trick :)

[2017-10-25 00:39] pitla1 commented on #314
I received an xpt file which generated in SAS using cport procedure. Can "read_xpt" read such transport files? I am unable to read such xpt file with any of the available packages like Hmisc, SASxport, foreign, haven. Also, in windows version of R (version 3.4.0), I get the following error...
_______________________________________________
library(haven)
data <- haven::read_xpt("C:/Users/pitla1/pr

[2017-10-25 01:36] pitla1 opened #321 "Read xpt files generated by PROC CPORT in SAS"
I am reposting an earlier post (as a new issue).. deleted the earlier post..

I received an xpt file which was  generated in SAS using PROC CPORT procedure. Can haven's "read_xpt" read such transport files? I am unable to read such xpt file with any of the available packages like Hmisc, SASxport, foreign, haven. Also, in windows version of R (version 3.4.0),

Any suggestions/solutions/workarounds

[2017-11-02 19:31] hadley commented on #315
Sorry, the `labelled` class is specifically to support SPSS/SAS/Stata labelled vectors. There are no plans to make it more general.

[2017-11-02 19:31] #315 closed

[2017-11-02 19:46] salim-b commented on #315
Thanks for your answer!

I understand that the `labelled` class was originally created for that purpose. But besides being a means to retain all the information of those proprietary data formats when importing them in R, the `labelled` class also offers the general advantage of directly _displaying_ the metadata stored in it when viewing a dataframe in RStudio. I think it would be beneficial to ha

[2017-11-02 20:35] rambler commented on #224
It's really misleading that the readme for this project indicates that haven is capable of writing SAS data files when this and several related bugs indicate that it can't.

[2017-11-08 15:53] rubenarslan opened #322 "read_dta The provided note is too long for the file format."
The problem disappears if I open this file with Stata 13 and resave, so I assume it's something to do with later versions, but I don't have a later version to make a reprex (and can't share the original file). Sorry that I don't have a reprex, but I was hoping the error message is a clear enough hint.
Would already be much better, if it didn't hard-fail but just truncated those notes.

I tried reb

[2017-11-20 17:48] andrewsali opened #324 "SAS date formats (YYMMDDxw) not converted"
I have come upon SAS files where the date format string is not purely `YYMMDD` but a bit more detailed - `YYMMDDN` in my case. These are not converted to R dates by `haven` but left as doubles.

It appears that there are multiple date formats in SAS: http://support.sas.com/documentation/cdl/en/lrdict/64316/HTML/default/viewer.htm#a000589916.htm

However these extended ones are not considered: http

[2017-12-14 17:08] aganalyticsemc commented on #266
@evanmiller When do you expect to have this fix pulled into haven? I am experiencing the same issue as @rubenarslan . SPSS won't open a .sav saved using write.sav if one of the dataframes contains a string with more than 255 bytes. I've tried to manually adjust ReadStat as you mentioned in the fix. However, this didn't seem to work :/

[2017-12-14 23:32] eborbath commented on #309
same issue here, both with the `cran` and the `developmental version`. Not sure how to fix it.

Session Info:

`R version 3.4.3 (2017-11-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252
[2] LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252
[4] LC_NUMER

[2017-12-15 00:01] karldw commented on #309
Update: This doesn't happen on Linux. Probably Windows-only?

Anyway, the issue is the same with the development versions of tibble, pillar and haven.

[code]

[2017-12-15 15:49] cimentadaj opened #325 "read_dta can't read ´(\xb4) character"
Reading the `dta` files from the European Social Survey raises a warning reading the ´(\xb4) character. However, `read_spss` does the job fine. To download the data briefly sign up with your email [here](http://www.europeansocialsurvey.org/user/new). The script below downloads the data and saves to `tempdir()`. Remember to replace `your_email` with your email in the functions `ess_rounds`

[code]

[2017-12-18 04:03] kuriwaki opened #326 "validate_dta only checks first column for labelled"
`validate_dta` only checks the first column for integer+labelled:
https://github.com/tidyverse/haven/blob/7f2b4796f76e44b88914e57c251318d9871055d1/R/haven.R#L247

Shouldn't it check all columns? MWE:

[code]

[2017-12-20 15:47] kuriwaki opened #327 "labelled sensitive to labels ordering in Stata"
When defining a labelled object, the label-value vector needs to be sorted by its numerical values, or else Stata cannot correctly read the label:

[code]

When I open `foo_lab.dta` in Stata, I get
[code]
So the label for `2` dropped out. Is this a bug?

This error does not occur when the dta file is read into R by `read_dta` and analyze it there; only when I open it in Stata.

[2017-12-20 21:45] ewenharrison commented on #86
I'm still having issues with this. I have a data.frame with variables of class `labelled` which I would rather keep. Still conflicting though. Any ideas appreciated. I'm not using `haven` but it loads with `tidyverse` hence issue.

[code]

[2017-12-21 19:24] sasutils opened #328 "Member name in SAS xport file generated by write_xpt is hard coded to "DATASET""
There is no way to tell the write_xpt function what member name to use for the SAS transport file that it generates.  Instead is it generating a header record that has the member name hard coded as "DATASET ".

So if I use this line to write the data frame named ABC to a file named 'abc.xpt'
   write_xpt(ABC,"abc.xpt")
and then try to read it into SAS I will end up with a dataset named DATASET ins

[2017-12-22 20:06] ewenharrison opened #329 "labelled class clashes with Hmisc"
https://github.com/tidyverse/haven/issues/86

I'm still having issues with this. I have a data.frame with variables of class `labelled` which I would rather keep. There is still a `haven` conflict. Any ideas appreciated. I'm not using `haven` but it loads with `tidyverse` hence issue.

[code]

[2018-01-02 19:13] javierluraschi opened #330 "Parse fails for icpsr.umich.edu SAS file"
Passing along question from https://support.rstudio.com/hc/en-us/articles/218611977-Importing-Data-with-RStudio...

1) Downloaded "DS1: Collaborative Psychiatric Epidemiology Surveys (CPES), 2001-2003" in SAS format from this website where: http://www.icpsr.umich.edu/icpsrweb/ICPSR/studies/20240.

2) Clicked IMPORT DATASET => format SAS=> tried importing .sas Data files from that survey.

3) Keep

[2018-01-05 14:58] philmikejones opened #331 "Feature request: function to write multiple variable labels"
Dear Hadley et al,

Would you consider implementing a function into Haven that would allow the writing/updating of multiple variable labels at once.

If I have one or two variables I would just manually update the attributes one at a time. If I have multiple variables to update and a vector of labels my current solution is to use `Hmisc::label()`. This works adequately but it would be nice to have

[2018-01-05 16:08] philmikejones commented on #331
I've also just discovered that the output of `Hmisc::label()` is not always compatible with the `haven::write_sav()` function, which gave me this error the most recent time I used it:

[code]

[2018-01-07 15:37] hadley commented on #319
Try updating rlang

[2018-01-07 15:38] hadley commented on #331
Not at this time - if we provide more helpers for variable labelling they are likely to live elsewhere.

[2018-01-07 15:38] #331 closed

[2018-01-07 15:39] hadley commented on #330
@javierluraschi do we have any evidence that this file opens in SAS?

@evanmiller do you want to take a look?

[2018-01-07 15:41] hadley commented on #329
Where are the labelled variables coming from?

You can't generally expect to add an arbitrary class to variables and expect things to work, but maybe you just did that to minimise the reprex?

[2018-01-07 15:43] hadley commented on #328
@evanmiller looks like this is currently hardcoded into `sas7bdat_emit_header`. Any chance we could have it as a setting?

[2018-01-07 15:44] hadley commented on #327
@evanmiller any thoughts on whether this is the responsibility of haven or readstat?

[2018-01-07 15:45] hadley commented on #326
Doh!

[2018-01-07 15:47] #326 closed

[2018-01-07 15:50] hadley commented on #325
Have you tried specifying the encoding of the file, per the note in the documentation of `read_dta()`?

If that doesn't help, it would be extremely helpful if you could produce a reprex that doesn't require me to install a package and sign up for an account.

[2018-01-07 15:52] hadley commented on #324
Looks like we should switch to `hasPrefix()` here because all of the date formats can be followed by optional parameters.

[2018-01-07 15:54] hadley commented on #322
Unfortunately without the original file (or some file that exhibits the same problem) there's no way to fix this problem.

[2018-01-07 15:54] #322 closed

[2018-01-07 15:55] hadley commented on #321
Have you tried? Haven should be able to read any xpt file that follows the spec.

[2018-01-07 15:55] #321 closed

[2018-01-07 15:55] #319 closed

[2018-01-07 15:55] hadley commented on #317
Can you please provide a reprex inline?

[2018-01-07 15:57] hadley commented on #314
Can you please provide a minimal reprex (reproducible example)? The goal of a reprex is to make it as easy as possible for me to recreate your problem so that I can fix it: please [help me help you](https://nypdecider.files.wordpress.com/2014/08/help-me-help-you.gif)!

If you've never heard of a reprex before, start by reading "[What is a reprex](http://reprex.tidyverse.org/articles/reprex.html)",

[2018-01-07 15:58] hadley commented on #313
Can you please make an inline reprex? There's no need to include `sessionInfo()`

[2018-01-07 16:01] hadley commented on #312
Can you please provide a minimal reprex (reproducible example)? The goal of a reprex is to make it as easy as possible for me to recreate your problem so that I can fix it: please [help me help you](https://nypdecider.files.wordpress.com/2014/08/help-me-help-you.gif)!

If you've never heard of a reprex before, start by reading "[What is a reprex](http://reprex.tidyverse.org/articles/reprex.html)",

[2018-01-07 16:03] #311 closed

[2018-01-07 16:06] hadley commented on #309
Deleting all the comments including session info - it's not useful here, and clutters up the discussion.

Note that a major difference between `data.frame` and `data_frame` is that `data.frame()` makes a factor.

[2018-01-07 16:07] jetravis commented on #313
library(lubridate)
#>
#> Attaching package: 'lubridate'
#> The following object is masked from 'package:base':
#>
#>     date
library(tibble)
library(haven)

xptTest <- tibble(dates=ymd("2017-01-01","2017-02-02"), datetimes = ymd_hm("2017-01-01 10:00", "2017-02-02 11:00"))
write_xpt(xptTest, "test.xpt",version = 5)
read_xpt("test.xpt")
#> # A tibble: 2 x 2
#>   dates   datetime
#>   <dbl>      <db

[2018-01-07 16:07] hadley commented on #309
Duplicate of #258

[2018-01-07 16:07] #309 closed

[2018-01-07 16:09] hadley commented on #303
Correct, they are not yet supported.

[2018-01-07 16:09] #303 closed

[2018-01-07 16:10] #277 closed

[2018-01-07 16:10] hadley commented on #272
@rogerjdeangelis  Please try again with latest github version

[2018-01-07 16:11] #269 closed

[2018-01-07 16:13] hadley commented on #266
Please try with latest version on github.

[2018-01-07 16:14] hadley commented on #258
@evanmiller any thoughts on whether this is a haven or a readstat problem? It's possible I've missed a conversion to utf-8 somewhere

[2018-01-07 16:15] hadley commented on #313
GitHub issues use [markdown](https://guides.github.com/features/mastering-markdown/) and they're much easier to read if you learn a little bit about it. The most important thing is to put your R code inside a block that starts with ```` ```R ```` and ends with ```` ``` ````. I've done that for you here, but I'd really appreciate it if you would format it yourself in the future.

[2018-01-07 16:18] hadley commented on #313
More minimal reprex:

[code]

Created on 2018-01-07 by the [reprex package
(0.1.1.9000)](https://cran.r-project.org/package=reprex).

[2018-01-07 16:21] hadley commented on #306
I don't think this is a haven issue but more of a SAS peculiarity, so I'm going to close this issue.

[2018-01-07 16:21] #306 closed

[2018-01-07 16:24] jetravis commented on #313
Sorry, still new at this.

[2018-01-07 17:24] sasutils commented on #328
My preference would be use the name of the file being written as the member
name being written to the SAS xport file. Especially as I don't think this
package supports writing multiple members into a single xport file.  So if
I write the a file name 'class.xpt' then the member name in the internal
header record would be 'class'.  It is not clear to me if the name of file
being written is currently

[2018-01-07 17:32] evanmiller commented on #312
@hadley It sounds like you may want to provide an additional `catalog_encoding` option that you pass to the catalog parser.

[2018-01-07 17:59] evanmiller commented on #258
@hadley Based on @huftis's comment it sounds like a haven problem to me.

[2018-01-07 18:18] evanmiller commented on #327
@hadley ReadStat should probably order the labels the way that Stata expects before writing.

[2018-01-07 18:35] evanmiller commented on #330
Haven reads `.sas7bdat` (SAS binary files), not `.sas` (SAS syntax files)

[2018-01-07 18:40] evanmiller commented on #328
This could be added as a setting in ReadStat.

XPORT file can include both the (symbolic) member name and the (plain language) file label. It's not clear to me if SAS7BDAT files also have both fields.

[2018-01-07 20:33] hadley commented on #312
Oh hmmm. That might be a better reading of the question than mine.

[2018-01-07 20:34] #330 closed

[2018-01-07 20:47] ewenharrison commented on #329
`Hmisc::label()`

[2018-01-07 20:58] hadley commented on #329
I don't think there's a great short term fix for this - the right thing to do is to make the class name more unique (i.e. `haven_labelled`), but that is likely to break downstream packages. I'll explore this next time we do a major release.

[2018-01-08 01:24] sasutils commented on #328
Both Xport files and SAS datasets can store member names and member labels.  The V5 transport files the member names are limited to 8 bytes and member label is limited to 40 bytes. For V8 transport files and SAS datasets (sas7bdat format) can use 32 byte member names and 256 byte member labels.

[2018-01-08 10:40] philmikejones commented on #331
No worries, thanks for taking the time to reply

[2018-01-08 11:03] antuki commented on #312
I think @evanmiller may have a good understanding of my question.
Here is a reprex.
The reprex package gave me a strang encoding for the french output (compilé for example) in my browser so I manually changed it so that you can see what I obtain in my R session.
You can download the 2 files I used here : https://github.com/antuki/reprex/tree/master/tidyverse_haven_312     (I don't know if we can r

[2018-01-08 14:29] cimentadaj commented on #325
Their website has not information on the encoding for that wave so I'm not sure if it's different from UTF-8. I try Win1252 in the reprex. Download the data from [here](https://files.fm/u/zbqa3wv4)
[code]

[2018-01-08 16:23] jeremiahsb commented on #317
Sorry about that. Here is the reprex to be used with the attached zip file above:

`library(haven)

exampleDat <- read_sav("Measure Issue Example.sav")

write_sav(exampleDat, "Exported Measure Issue Example.sav")`

In the "Measure Issue Example.sav" file, you'll see the "someTestVariable" variable has a measure set to Nominal. After running through the import/export as listed above, the measure is

[2018-01-08 21:04] evanmiller commented on #327
@hadley Try pulling in this change: https://github.com/WizardMac/ReadStat/commit/f4d8706fc37d64decb67cb9eb4bb001365c06f48

[2018-01-08 21:34] hadley commented on #327
@kuriwaki please try with the latest dev version.

[2018-01-08 21:36] hadley commented on #317
Could you please rework your reproducible example to use the [reprex package](http://reprex.tidyverse.org) ? That makes it easier to see both the input and the output, formatted in such a way that I can easily re-run in a local session.

[2018-01-08 21:39] hadley opened #332 "Eliminate UBSAN issues"
https://www.stats.ox.ac.uk/pub/bdr/memtests/clang-ASAN/haven/00check.log
https://www.stats.ox.ac.uk/pub/bdr/memtests/gcc-ASAN/haven/00check.log

[code]

[2018-01-08 22:09] kuriwaki commented on #327
@hadley works great. Thank you.

[2018-01-08 22:27] kevinushey opened #333 "R CMD build fails with recent R-devel"
[code]

[code]

[2018-01-09 00:23] jeremiahsb commented on #317
I've been looking at the examples for using the reprex package and I'm not sure how they apply given that I haven't been able to find a way to see the Measure attribute. In the code below it shows the attributes of the sample dataset after having been imported into R via Haven, but there is no attribute for Measure.

Unfortunately, I do not know C, so I could be overlooking something, but when loo

[2018-01-09 10:19] cimentadaj commented on #325
I think this might be an encoding problem as you suggest. The label problem comes from Finnish Political parties which also have Swedish names. However on Stata, there's no error but fills it with "The Swedish People¥s Party (SPP)"

[2018-01-09 13:58] #327 closed

[2018-01-09 18:39] huftis opened #334 "`labelled_spss` metadata are not retained when saving SPSS files"
When saving a tibble with `labelled_spss` variables (as opposed to just `labelled` variables) to an SPSS file, none of the metadata from the `labelled_spss` variables are actually saved.

Note that `labelled_spss` variables are automatically created when importing (`read_spss()`) SPSS files using the `user_na = TRUE` argument, so this bug makes round-tripping SPSS files not possible.

Here’s an re

[2018-01-09 22:46] dennisfisher commented on #314
Hadley

Sorry about the delay in getting back to you.  I tried to reconstruct the original request but I have not been successful.  But, I have encountered a related problem.  The problem requires some explanation:

1.  I started with a SAS sas7bdat file that was probably created by SAS.  I read the file using haven, then wrote to:
	pk.sas7bdat
using “write_sas”.
So far so good.

2.  I can read th

[2018-01-09 23:22] MichaelTuchman opened #335 "haven is limited in how many columns it will write to a SAS7BDAT file"
Before launching into my code, I do want to say that I really love the tidyverse and I work with it every day.  You've made my life easier and I appreciate that.

I tried to use *haven* to write  really wide dataset, and it failed.  Here's a reproducible example.

[code]
Fails with this error message

[code]

The system craps out between 250 and 400 rows.  I would imagine it also varies by the typ

[2018-01-09 23:49] #332 closed

[2018-01-10 13:30] normark commented on #272
@hadley The bug is still reproducible on the master branch.

[2018-01-10 13:31] normark commented on #335
Same thing mentioned in #272

[2018-01-10 15:27] MichaelTuchman commented on #335
OK - I made an effort to look for duplicate questions using my own
keywords, but it looks like this is a duplicated issue.  Feel free to
remove.
Thanks.

On Wed, Jan 10, 2018 at 8:31 AM, Emil <notifications@github.com> wrote:

--
Michael Tuchman
215-237-9555

[2018-01-10 23:22] hadley commented on #272
@evanmiller could you please take another look?

[2018-01-10 23:45] evanmiller commented on #272
@hadley I've added test coverage via https://github.com/WizardMac/ReadStat/commit/1d40cb04e92c8a4a9cca20aa7b3bbbfd3135da2f, everything appears to work on the ReadStat end.

[2018-01-10 23:59] hadley commented on #272
Hmmm, I'm not sure how this could be a haven problem, but I'll think about it.

[2018-01-11 00:11] evanmiller commented on #272
Codecov indicates the fix isn't actually being triggered in tests, I'll tinker some more until I'm sure the code path is hot.

[2018-01-11 01:14] rgayler commented on #272
FWIW I have just run into the same problem.
Using haven 1.1.0.9000

I have been given a sas7bdat file with 700 variables (mostly doubles). I can read it fine with `read_sas()`, but trying to write it out with `write_sas()` gets an error:

[code]

[2018-01-11 01:38] evanmiller commented on #272
Okay, the code path is hot now... apparently I don't know how to count. 4096+ byte rows should work fine provided that row-compression isn't explicitly turned on (didn't see it turned on anywhere in haven).

If anyone wants to mess with the default page size, feel free to futz with `PAGE_SIZE` in readstat_sas.c.

[2018-01-11 11:29] normark commented on #272
@evanmiller So the test is passing in the current readstat master?

[2018-01-11 11:45] evanmiller commented on #272
@normak Yes but I haven't changed any relevant code, just added tests. Are you sure you're using haven master?

[2018-01-11 12:07] claudiaQB opened #336 "read_sas failure for one (encoding issue?)"
First of all thank you for this great package to import SAS datasets into R.

I encountered an issue when reading [this file](https://github.com/tidyverse/haven/files/1622241/grocencodingviet.sas7bdat.zip) (you will have to unzip it). This is the error:

[code]

I tried to set several `encoding` options but did not succeed to import it.

I can succesfully read it in SAS 9.3, with the following not

[2018-01-11 12:13] normark commented on #272
@evanmiller Yes, installed from master using `devtools::install_github("tidyverse/haven")`. And I just manually double-checked the libpaths, the version om my search path is the master from here.

[2018-01-11 12:33] evanmiller commented on #336
Thanks. Fixed in ReadStat with this commit:  https://github.com/WizardMac/ReadStat/commit/27cc43b72ddd3179208834569c8d562c3a1f4584

[2018-01-11 12:53] evanmiller commented on #272
@normak @hadley This issue should be closed, and #335 should be re-opened. The remaining issue has to do with the number and names of columns, not the row lengths.

[2018-01-11 13:05] #272 closed

[2018-01-11 13:05] hadley commented on #272
Ok, done.

[2018-01-11 13:41] evanmiller commented on #335
As mentioned in #272, this is a distinct issue that is triggered by the number of columns rather than the overall row length.

[2018-01-11 14:06] evanmiller commented on #335
Should be fixed in ReadStat via https://github.com/WizardMac/ReadStat/commit/4635136523726a67632dc197c0ed644fd03d03fb

[2018-01-11 14:21] normark commented on #335
@evanmiller This is excellent, thank you for the swift action on this! I presume @hadley will pull the upstream changes if tests pass? 😊

[2018-01-11 14:26] #335 closed

[2018-01-11 14:27] hadley commented on #335
Fix confirmed with latest haven:

[code]

(@MichaelTuchman for future reference writing to a `tempfile()` is easier for me since I don't then need to remember to delete that file)

[2018-01-11 21:37] normark commented on #224
Sorry for kicking up yet another old issue, but we are running into this problem as well. Data written using `write_sas` cannot be loaded by SAS (9.4), but works fine when read using `read_sas` from inside R.

The following is enough to reproduce it on Windows Server 2012R2 using the latest (master) version of haven and SAS 9.4. The exported file `dataset.sas7bdat` fails to load with an error that

[2018-01-16 15:47] #301 closed

[2018-01-16 16:00] hadley commented on #258
@evanmiller I'm either missing something obvious, I have misunderstood the readstat API, or there's a readstat bug.

1. `readstat_insert_string_value()` is called from my C++ `insertValue()` at https://github.com/tidyverse/haven/blob/master/src/DfWriter.cpp#L298-L304

1. `insertValue()` is called from https://github.com/tidyverse/haven/blob/master/src/DfWriter.cpp#L143 (I verified this is the line

[2018-01-16 16:15] hadley commented on #325
@evanmiller more evidence that I don't understand the encoding API:

[code]

I'm setting the parser encoding with `readstat_set_file_character_encoding()`, and I mark the value returned from `readstat_string_value()` with `Rf_mkCharCE(str_value, CE_UTF8)` so that R know it's UTF-8.

[2018-01-16 16:27] hadley commented on #333
I don't see this problem on travis - maybe it was an R-devel bug that's now fixed?

[2018-01-16 16:27] #333 closed

[2018-01-16 16:50] #312 closed

[2018-01-16 17:35] evanmiller commented on #258
I believe the bug is here:

https://github.com/tidyverse/haven/blob/master/src/DfWriter.cpp#L266

Should be measuring UTF-8 length on this line.

[2018-01-16 18:15] hadley commented on #258
Oh, I'm an idiot, thanks!

[2018-01-16 18:15] evanmiller commented on #325
This appears to be a bug in ReadStat's DTA parser. I'll get it fixed soon.

[2018-01-16 18:19] #258 closed

[2018-01-16 18:45] #334 closed

[2018-01-16 19:33] evanmiller commented on #325
Should be fixed in https://github.com/WizardMac/ReadStat/commit/607d159b32bcaeb3621031a0a06ff0a3ea0185b6

[2018-01-16 20:10] hadley commented on #325
Awesome - thanks! I'm going to roll this up into a release. Any products of SAS investigation can go to a future release.

[2018-01-16 20:10] #325 closed

[2018-01-16 20:13] evanmiller commented on #325
@hadley Did you verify the fix? I think the file is supposed to be UTF-8 but is actually Win-1252 (i.e. `encoding` must be specified even with the patch)

[2018-01-18 11:07] strengejacke commented on #308
You can use `sjlabelled::remove_all_labels()` to remove label(s) attributes from vectors or data frames (see https://cran.r-project.org/package=sjlabelled).

[2018-01-18 14:32] tzoltak opened #337 "Inconsistent behavior of read_dta and write_dta"
`write_dta()` checks if labelled variables are integers, however `read_dta()` reads such a variables as numerics. As a result:
[code]
throws an error: "Stata only supports labelled integers."

The most user-friendly solution would be (I think) to make `write_dta()` trying to convert labelled variables to integer by itself and throwing error only if this can't be done without lose of information.

[2018-01-18 15:44] hadley opened #338 "Add zsav support"
ZSAV was a bigger undertaking, but should be parsed seamlessly without any code changes. On the write side, set either:

    readstat_writer_set_compression(writer, READSTAT_COMPRESS_BINARY);

Or

    readstat_writer_set_file_format_version(writer, 3);

ZSAV support requires zlib, so some integration effort might be needed. HAVE_ZLIB needs to be defined at compile-time and the binary should be lin

[2018-01-18 15:44] hadley opened #339 "Advertise Stata 15 support"
After readstat update

[2018-01-18 16:08] hadley commented on #337
Can you please provide a minimal reprex (reproducible example)? The goal of a reprex is to make it as easy as possible for me to recreate your problem so that I can fix it: please [help me help you](https://nypdecider.files.wordpress.com/2014/08/help-me-help-you.gif)!

If you've never heard of a reprex before, start by reading "[What is a reprex](http://reprex.tidyverse.org/articles/reprex.html)",

[2018-01-18 16:18] tzoltak commented on #337
[code]

[2018-01-18 16:27] hadley commented on #337
Could you please rework your reproducible example to use the [reprex package](http://reprex.tidyverse.org) ? That makes it easier to see both the input and the output, formatted in such a way that I can easily re-run in a local session.

[2018-01-18 16:31] tzoltak commented on #337
[code]

[2018-01-18 18:07] gergness opened #340 "Add pillar printing for the labelled class"
I think the labelled class would benefit from having a print method from the pillar package. For labelled values it would be nice to show the label with subtle styling and the special NA values could also be marked as well.

If you're interested, I'm happy to make a first attempt in a PR.

[2018-01-18 19:19] #305 closed

[2018-01-18 19:39] evanmiller commented on #304
@ajdamico I'm still not sure why the original command works on Windows. However if you use the latest dev haven, then on Unix just change this line:

[code]

To this:

[code]

And it should import everything okay. If so, please close the issue, as the SAV file is apparently mis-reporting its character encoding.

[2018-01-18 20:05] ajdamico commented on #304
wow, thanks very much for solving this!

[2018-01-18 20:05] #304 closed

[2018-01-22 09:52] cimentadaj commented on #326
But this raises a contradiction: `read_dta` **can read** labelled doubles but `write_dta` **can't** write labelled doubles. Download data [here](https://files.fm/u/zbqa3wv4)

[code]

I'm not sure why `write_dta` is not allowed to save labelled doubles, although up to this new version it was doing it just fine (at least in my work I've been saving labelled doubles, which were integers but read as d

[2018-01-22 10:51] evanmiller commented on #328
On the ReadStat side this is available now through `readstat_writer_set_table_name`:

[code]

I'm open to another name for the function. SAS variously refers to this string as the member name, table name, and data set name. (`set_data_set_name` seemed liable to cause confusion.)

[2018-01-22 13:40] hadley commented on #328
`set_dataset_name()` could be a possible option, but I think `table_name` is fine

[2018-01-22 14:17] evanmiller commented on #328
Might change the new `metadata` type to `dataset` and then do something like

[code]

Then on the write side

[code]

[2018-01-23 14:33] batpigandme opened #341 "Update local tidytemplate w/ fixed pkgdown link"

[2018-01-23 14:44] BERENZ opened #342 "Unable to allocate memory — haven 1.1.1"
I have the following problem with `read_spss/read_sav`. Code work perfectly for previous version of `haven` package but after updating I got an an error which indicate a problem with allocating memory.

I attach code, the [file](https://github.com/tidyverse/haven/files/1656323/BKL_oferty_pracy_1ed.sav.zip) and other information.

I tested this on two R versions (R MRAN & vanilla 3.4.0 and R 3.3.2

[2018-01-25 15:32] strengejacke commented on #342
I have a similar problem since the latest _haven_-update, here's my error msg:

[code]

[2018-01-26 21:06] kuriwaki commented on #326
@cimentadaj  I agree I've found this as a pain point; perhaps file it as a new issue so it doesn't get buried under this closed issue?

Perhaps the restriction in haven is too strict and can allow `<dbl + lbl>` classes as long as the doubles are not explicit decimals.

[2018-01-29 18:32] cimentadaj opened #343 "read_dta can read labelled doubles but write_dta can't write labelled doubles"
[code]

I'm not sure why `write_dta` is not allowed to save labelled doubles, although up to the previous version it was doing it just fine (at least in my work I've been saving labelled doubles, which were integers but read as doubles by `read_dta`). I understand that having labelled integers doesn't make sense but most of time labelled doubles are just integers that were read that way. @kuriwaki

[2018-01-30 09:35] dicorynia commented on #342
Same issue with 1.1.1 (R 3.4.0 on win7). Reverting to 1.1.0 solve the problem.
(found the old haven_1.1.0.zip on https://mran.microsoft.com/snapshot/2017-11-01/bin/windows/contrib/3.5/)

[2018-01-30 10:51] strengejacke commented on #342
Yes, downgrading to 1.1.0 works. Older pkg versions can be found on CRAN as well, there's an archive link:
https://cran.r-project.org/src/contrib/Archive/haven/

[2018-01-30 14:53] dicorynia commented on #342
Yes, thanks. I found them but they are not compiled and so they require Rtools, which may not be convenient... :-)
The *.zip are easier to install on Windows...

[2018-01-30 15:29] philmikejones commented on #342
I also have the same problem. Unfortunately I can't share the dataset that caused the issue, and I'm hunting for a similar open data set that replicates the problem, but downgrading to haven v1.1.0 solved the issue for me:

`devtools::install_version("haven", version = "1.1.0")`

[2018-01-30 17:35] JoachimTanner commented on #342
I have the same problem (R 3.4.3 on Win10). read_sav leads to an error (see below) in haven 1.1.1, downgrading to v1.1.0 solves the issue. In my scenario, the error only shows when the database has more than env. 2000 variables.

`Error in df_parse_sav_file(spec, user_na) :
  Failed to parse J:/Database_XY-Study_II.sav: Unable to allocate memory.`

[2018-01-30 18:44] strengejacke commented on #342
I don't think it's an issue of very large files. My dataset had ~ 600 observations and ~ 300 variables. That said, it would be very strange if you don't run into this issue for datasets with < 2000 columns?

[2018-01-30 19:37] JoachimTanner commented on #342
I don't have any idea about the exact reason of the issue, but reducing my dataset from 5845 to 1970 variables (160 observations in each case) made my script run again. I thought this information could maybe be helpful. It doesn't seem to be an issue basing only on the number of variables. The running script when having only 1970 variables could somehow be related with deletion of variables, lengt

[2018-01-30 21:42] behrman opened #344 "read_dta() worked in 1.1.0 but does not in 1.1.1"
The following code worked with version 1.1.0 but does not in 1.1.1:

[code]

The code now generates the error:

Error in df_parse_dta_raw(spec, encoding) :
  Failed to parse file: Unable to convert string to the requested encoding (invalid byte sequence).

[2018-02-01 21:22] EricGoldsmith commented on #342
I'll add my voice here. Haven v1.1.1 generates memory allocation error, while v1.1.0 does not, for same file.

[2018-02-02 12:48] maxwell8888 commented on #342
Use this to revert to previous working version:
remove.packages("haven")
devtools::install_version("haven", version = "1.1.0", repos = "http://cran.us.r-project.org")

[2018-02-02 15:25] harlananelson commented on #329
From lrm examples.
[code]
Same error.

[2018-02-06 03:16] rdisalv2 commented on #344
Our team also has this problem, but it appears to be on Mac but not Windows computers.

[2018-02-06 20:59] beew opened #345 "read_sas error: unsupported character set"
Hi,
I am having problem reading one sas7bdat file with sas_read() :
[code]
the R package sas7bdat can open it with read.sas7bdat() though.

The culprit turns out to be one mostly empty column with a few entries which have form like:
[code]
Removing the column (with SAS) then read_sas() can read the file just fine.

R 3.4.3, haven 1.1.1, OS is Ubuntu Linux.

[2018-02-06 22:22] dylanjm commented on #342
Any update on this issue? Having the same problem with not a very large `.sav` file at all. Downgraded to 1.1.0 and it works now.

[2018-02-06 22:30] strengejacke commented on #344
Seems to be related to this one: https://github.com/tidyverse/haven/issues/342

[2018-02-09 10:01] cucumberry commented on #342
I have the exact same issue, also solved it by reverting to 1.1.0 (downloading from CRAN didn't work, but the link @dicorynia provided did).

[2018-02-09 15:10] ajdamico commented on #344
hi, i wonder if it's related to this?  https://github.com/tidyverse/haven/issues/304

here are my travis logs for a success three weeks ago (haven 1.1.0)

	https://api.travis-ci.org/v3/job/329244795/log.txt

and then a failure today (haven 1.1.1)

	https://api.travis-ci.org/v3/job/338985543/log.txt

the file is "Wave 6 Release 6.0.0/sharew6_rel6-0-0_sp.dta" -- i can email if necessary

relevant cr

[2018-02-09 15:18] bdemeshev commented on #342
We have exactly the same issue with the hometask in Econometrics course at [Coursera](https://www.coursera.org/learn/ekonometrika/supplement/iMP1J/pieried-vypolnieniiem-tiesta) /in Russian/! Students are required to use [RLMS data](https://www.hse.ru/en/rlms/), that can not be now handled by `haven` 1.1.1.

Our solutions:

* downgrading to `haven` 1.1.0
* use of `foreign::read.spss(filename, to.da

[2018-02-09 23:42] adam-garcia commented on #224
Though not a direct solution, if an R > SAS workflow is necessary for your work it looks like `haven::write_sav()` could be a temporary workaround. SAS can then read in the .sav file and variable labels, formats, etc persist (whereas they wouldn't with `readr::write_csv()`, etc).

So, in R:
[code]

Then, in SAS:
[code]

[2018-02-12 02:54] kuriwaki commented on #337
This and #343 are the same

[2018-02-12 15:26] #337 closed

[2018-02-12 20:52] kuriwaki commented on #344
@rdisalv2 's solution to specifying `encoding = 'latin1'` worked as a workaround on my Mac. Thanks!

[2018-02-15 15:28] hadley commented on #344
@evanmiller any ideas why this is no longer auto-detecting the correct encoding?

[2018-02-15 15:33] hadley commented on #342
Can you please try the latest development version? I can read the file attached to the initial issue without problems.

[2018-02-15 15:34] hadley commented on #345
Can you please provide a minimal reprex (reproducible example)? The goal of a reprex is to make it as easy as possible for me to recreate your problem so that I can fix it: please [help me help you](https://nypdecider.files.wordpress.com/2014/08/help-me-help-you.gif)!

If you've never heard of a reprex before, start by reading "[What is a reprex](http://reprex.tidyverse.org/articles/reprex.html)",

[2018-02-15 15:44] EricGoldsmith commented on #342
Works for me. 👍

[2018-02-15 15:46] sjkiss commented on #266
Am I right that this fix has been integrated to the development version of Haven?

I have an SPSS file I am using with collaborators. When I've imported via haven, made changes and then try to re-export via write_sav() it produces a corrupted file exactly as described above. There are at least two variables with value lengths longer than 255 characters, identified in the script below.

This self-c

[2018-02-15 17:05] evanmiller commented on #344
This issue is related to #325 - ReadStat only recently began converting value labels to UTF-8.

Prior to Stata 14, files did not include a text encoding. In the absence of a specified encoding, ReadStat assumes the encoding is Windows-1252, which is close to (but not identical to) Latin-1. My understanding is that Stata files created on Windows use Windows-1252, whereas Mac and Linux use Latin-1.

[2018-02-15 17:06] hadley commented on #266
Could you please rework your reproducible example to use the [reprex package](http://reprex.tidyverse.org) and create a new issue? That makes it easier to see both the input and the output, formatted in such a way that I can easily re-run in a local session.

[2018-02-15 17:16] #343 closed

[2018-02-15 17:18] hadley commented on #224
Can you please try again with the development version of haven?

[2018-02-15 17:25] hadley commented on #344
Ok, so probably the best we can do is better documentation. Thanks!

[2018-02-15 17:25] #339 closed

[2018-02-15 18:07] rogerjdeangelis commented on #224
There is some information about interfaces between WPS/SAS and pyhon/R on
my github

https://github.com/rogerjdeangelis

On Thu, Feb 15, 2018 at 12:34 PM, Roger DeAngelis <rogerjdeangelis@gmail.com

[2018-02-15 18:40] Jiang-Li commented on #224
Can not install the dev version:

collect2.exe: error: ld returned 1 exit status
no DLL was created
ERROR: compilation failed for package 'haven'

Windows 7, R version 3.4.3

[2018-02-15 19:16] sjkiss opened #346 "Still probems writing long strings to sav files"
I am still having problems with [this](issue). I am sure I am using the development version of haven.

There are quite a few variables in this dataset that have more than 255 characters.  The following script 1) downloads the file I am working with 2) writes it out via haven 3) subsets variables with less than 255 characters in the values 4) writes that data set out for comparison.
Note: it requir

[2018-02-15 19:16] sjkiss commented on #346
I hope I did that right.

[2018-02-15 19:36] hadley commented on #346
Could you please rework your reproducible example to use the [reprex package](http://reprex.tidyverse.org) ? That makes it easier to see both the input and the output, formatted in such a way that I can easily re-run in a local session.

[2018-02-15 19:52] hadley commented on #340
Sure, sounds great!

[2018-02-15 21:07] #344 closed

[2018-02-15 21:09] hadley commented on #344
In the long run, maybe haven could provide some tool to extract all strings into a raw vector so that we could use some encoding detection heuristic to figure out what the file actually uses. This issue is currently particularly frustrating because there's no easy way to figure out what encoding you _should_ use.

[2018-02-15 21:30] #338 closed

[2018-02-15 21:33] hadley commented on #219
@larmarange do you still have any interest in this issue?

[2018-02-15 21:34] hadley commented on #164
And the first request is #194

I think the 3rd request is already possible.

[2018-02-15 21:34] #164 closed

[2018-02-15 21:44] hadley commented on #314
`read_xpt()` now appears to read the labels. I'll open another issue for the inconsistency between `write_xpt` and `read.xport`

[2018-02-15 21:44] #314 closed

[2018-02-15 21:48] hadley opened #347 "write_xpt() does not create file that read.xport() can read"
[code]

@evanmiller If it helps the source code for `read.xport()` can be found by downloading [the foreign package](https://cran.r-project.org/src/contrib/foreign_0.8-69.tar.gz) then looking in `src/SASxport.c`

[2018-02-15 21:55] hadley commented on #298
This behaviour is inherited from readr, so I've filed an issue over there.

[2018-02-15 21:55] #298 closed

[2018-02-15 21:56] dennisfisher commented on #314
Hadley

Thanks for fixing this.  The latest version in CRAN is dated 2018-01-18.  I presume that you are referring to the GitHub version rather than CRAN.  If so, when do you expect the CRAN version to be updated?

Dennis

Dennis Fisher MD
P < (The "P Less Than" Company)
Phone / Fax: 1-866-PLessThan (1-866-753-7784)
www.PLessThan.com

[2018-02-15 21:59] hadley commented on #317
Ok, after carefully reading through your prose I think this is currently out of scope for haven - currently haven completely ignores the measure attribute on both read and write.

[2018-02-15 21:59] #317 closed

[2018-02-15 22:02] hadley commented on #346
This seems fine to me currently:

[code]

Could you please try and create a reprex in that style? (i.e. generating the problematic data rather than downloading from elsewhere)

[2018-02-15 22:14] #328 closed

[2018-02-15 22:14] hadley commented on #328
@sasutils I think this should now work, but I have no easy way to check. Can you please try it out?

[2018-02-15 22:16] hadley commented on #314
It's hard to know, but probably within the next week or two.

[2018-02-15 22:16] dennisfisher commented on #314
thanks

Dennis Fisher MD
P < (The "P Less Than" Company)
Phone / Fax: 1-866-PLessThan (1-866-753-7784)
www.PLessThan.com

[2018-02-15 22:38] sasutils commented on #328
Sure.  Is there any special syntax needed to tell it what name to using
inside the generated XPORT file?
Or will it now just try to name it based on the dataframe that is being
exported?

On Thu, Feb 15, 2018 at 5:14 PM, Hadley Wickham <notifications@github.com>
wrote:

[2018-02-15 22:45] hadley commented on #328
See the docs for the `name` argument, and let me know if they're not clear.

[2018-02-16 09:38] rubenarslan commented on #266
I think it's still the same problem, that you can also see with my more minimal reprex. This is after installing the latest haven from master.

[code]

GET
  FILE='/Users/rubenarslan/Dropbox/MPI/codebook/test.sav'.

[2018-02-16 09:42] rubenarslan commented on #346
Sorry, didn't realise a new issue had been opened. But basically this still seems to be #266. The problem is not round-tripping with haven, but that SPSS doesn't open the file.

I think it's still the same problem you can also see with the minimal reprex. This is after installing the latest haven from master. You don't have SPSS to test, right?

[code]

GET
  FILE='test.sav'.

[2018-02-16 10:09] rubenarslan commented on #322
I was never able to get permission to share a file that has these problems, nor to generate one myself. Nevertheless, the newest haven fixed this somehow.

[2018-02-16 12:43] hadley commented on #346
@rubenarslan thanks! It wasn't clear that this was the problem. Can you please confirm that you're using the latest development version of haven (i.e. you installed in the last 12 hours)?

[2018-02-16 12:46] rubenarslan commented on #346
Yes!

Skipping install of 'haven' from a github remote, the SHA1 (cef5421f) has not changed since last install.

[2018-02-16 13:07] hadley commented on #346
@evanmiller looks like another one for you

@rubenarslan it might be useful for you to create a `.sav` file in SPSS containing exactly the same long string so we can see what's different.

[2018-02-16 13:12] hadley opened #348 "Use fs"
Once https://github.com/r-lib/fs/issues/70 is resolved

[code]

[2018-02-16 13:13] rubenarslan commented on #346
I uploaded those files back in #266. Maybe just reopen the issue?

[2018-02-16 14:13] hadley commented on #346
Good idea - I'll clean up the discussion which got sidetrack there.

[2018-02-16 14:13] #346 closed

[2018-02-16 14:13] hadley commented on #266
This appears to still be a problem even with latest readstat

[2018-02-16 14:19] evanmiller commented on #266
Error message from #346:

[code]

My current theory is as follows. Variables in an SAV file contain a "virtual" variable for each 256-byte chunk. ReadStat gives each virtual variable the same name. However, in the sample file provided,  it appears that SPSS assigns a unique name to each virtual variable (e.g. `LONG` and `LONG0`). I'll see if the PSPP docs have anything to say about this.

[2018-02-16 14:31] evanmiller commented on #266
PSPP has this to say:

[Source](https://www.gnu.org/software/pspp/pspp-dev/html_node/Variable-Record.html#Variable-Record)

[2018-02-16 14:43] rubenarslan commented on #266
Does it help you verify your theory if I generate files with more 5*256 letters or so?

[2018-02-16 14:45] #348 closed

[2018-02-16 14:57] hadley commented on #266
@rubenarslan I just updated haven with @evanmiller's latest code. Can you please try again now?